{{ header }}
<div id="tezarius-account-register" class="container">
    {{ breadcrumbs }}
    {{ flash }}

    <div class="row">
        {{ column_left }}

        {% if column_left and column_right %}{% set class = 'col-sm-6' %}
        {% elseif column_left or column_right %}{% set class = 'col-sm-9' %}
        {% else %}{% set class = 'col-sm-12' %}{% endif %}
        <div id="tezarius-content" class="{{ class }}">{{ content_top }}
            <h1>{{ heading_title }}</h1>
            <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
                <legend>{{ text_auto_catalog }}</legend>
                <fieldset>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-type">{{ entry_type }}</label>
                        <div class="col-sm-10">
                            <select name="type" id="input-type" class="form-control" onChange="TSGarage.marks(this)">
                                <option>{{ holder_type }}</option>
                                {% for t in types %}
                                    <option value="{{ t.code }} {{ t.code==type?'selected':'' }}">{{ t.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-mark">{{ entry_mark }}</label>
                        <div class="col-sm-10">
                            <select name="mark" id="input-mark" class="form-control" onChange="TSGarage.models(this)" disabled>
                                <option>{{ holder_mark }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-model">{{ entry_model }}</label>
                        <div class="col-sm-10">
                            <select name="model" id="input-model" class="form-control" onChange="TSGarage.vehicles(this)" disabled>
                                <option>{{ holder_model }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-vehicle">{{ entry_vehicle }}</label>
                        <div class="col-sm-10">
                            <select name="vehicle" id="input-vehicle" class="form-control" onChange="TSGarage.auto(this)" disabled>
                                <option>{{ holder_vehicle }}</option>
                            </select>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>{{ text_auto_cart }}</legend>
                    <div class="form-group required">
                        <label class="col-sm-2"></label>
                        <div class="col-sm-10">
                            <label class="control-label" for="input-auto">{{ entry_auto }}</label>
                            <input type="text" name="auto" value="{{ auto }}" placeholder="{{ holder_auto }}" id="input-auto" class="form-control" minlength="3" disabled required/>
                            {% if error_auto %}<div class="text-danger">{{ error_auto }}</div>{% endif %}
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2"></label>
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label class="" for="input-engine">{{ entry_engine }}</label>
                                    <input type="text" name="engine" value="{{ engine }}" placeholder="{{ holder_engine }}" id="input-engine" class="form-control" disabled/>
                                    {% if error_engine %}<div class="text-danger">{{ error_engine }}</div>{% endif %}
                                </div>
                                <div class="col-sm-6">
                                    <label class="control-label" for="input-year">{{ entry_year }}</label>
                                    <input type="number" name="year" value="{{ year }}" placeholder="{{ holder_year }}" id="input-year" class="form-control" min="{{ year_min }}" max="{{ year_max }}" disabled required/>
                                    {% if error_year %}<div class="text-danger">{{ error_year }}</div>{% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2"></label>
                        <div class="col-sm-10">
                            <label class="control-label" for="input-vin">{{ entry_vin }}</label>
                            <input type="text" name="vin" value="{{ vin }}" placeholder="{{ holder_vin }}" id="input-vin" class="form-control" maxlength="17"
                                   onKeyUp="TSGarage.vcHintText(this)"
                                   onPaste="setTimeout(function(){ TSGarage.vcHintText(this); }.bind(this),1);"
                                   onFocus="TSGarage.vcHintShow(this)"
                                   onBlur="TSGarage.vcHintHide(this)"
                                   disabled required/>
                            {% if error_vin %}<div class="text-danger">{{ error_vin }}</div>{% endif %}
                            <div class="text-success vin-code" style="display:none">Введено символов: 0</div>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2" for="input-note">{{ entry_note }}</label>
                        <div class="col-sm-10">
                            <textarea type="note" name="note" placeholder="{{ holder_note }}" id="input-note" class="form-control" rows="7">{{ note }}</textarea>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2"></label>
                        <div class="col-sm-10">
                            <strong>Поля, помеченные <label class="control-label"></label>, обязательные к заполнению</strong>
                        </div>
                    </div>
                </fieldset>
                {{ captcha }}
                <div class="buttons">
                    <div class="pull-right">
                        <input type="submit" id="btnGarageAdd" name="btnGarageAdd" value="{{ button_continue }}" class="btn btn-primary" disabled/>
                    </div>
                </div>
            </form>

            {{ content_bottom }}
        </div>

        {{ column_right }}
    </div>
</div>
<script type="text/javascript"><!--
    ///
    //--></script>
{{ footer }}