{{ header }}
<div id="garage-list" class="container">
  {{ breadcrumbs }}
  {{ flash }}

  <div class="row">
    {{ column_left }}

    {% if column_left and column_right %}{% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}{% set class = 'col-sm-9' %}
    {% else %}{% set class = 'col-sm-12' %}{% endif %}
    <div id="content" class="{{ class }}">
      {{ content_top }}

      <h1>{{ heading_title }}</h1>

      {% if cars %}

        <div class="row">
          {% for car in cars %}
            <div class="product-layout product-list col-md-6">
              <a class="btn btn-default btn-circle btn-close" data-toggle="tooltip" title="{{ button_delete }}" onClick="TSGarage.remove('{{ car.id }}');"><i class="fa fa-close"></i></a>
              <div class="product-thumb">
                <br>
                <div class="image thumbnail">
                  <img src="{{ car.thumb?car.thumb:'/catalog/view/image/car/any.jpg' }}" alt="{{ car.name }}" title="{{ car.name }}" class="" width="200"/>
                </div>
                <div>
                  <div class="caption">
                    <h4><a>{{ car.name }}</a></h4>
                    <p>{{ car.note }}</p>
                    <p>VIN: {{ car.vin }}<br>Год: {{ car.year }}</p>
                  </div>
                </div>
                <br>

                <div class="!row">
                  <div class="col-sm-6">
                    <h4>Каталоги</h4>
                    <ul>
                      <li>Оригинальные каталоги</li>
                      <li><a href="{{ blankURI_AfterMarket | replace({'CCC': car.id_out, 'TTT': car.CarTypeOut}) }}">{{ text_garage_aftermarket }}</a></li>
                    </ul>
                  </div>
                  <div class="col-sm-6">
                    <h4>Функции</h4>
                    <ul>
                      <li>Запрос менеджеру</li>
                    </ul>
                  </div>
                </div>

              </div>
            </div>
          {% endfor %}
        </div>

      {% endif %}

      {{ content_bottom }}
    </div>

    {{ column_right }}
  </div>
</div>
{{ footer }}
