<div id="cart" class="btn-group btn-block">
    <button type="button" data-toggle="dropdown" data-loading-text="{{ text_loading }}" class="btn btn-inverse btn-block btn-lg dropdown-toggle">
        <i class="fa fa-shopping-cart"></i>
        <span id="cart-total">{{ text_items }}</span>
    </button>
    <ul class="dropdown-menu pull-right">
        <a class="btn btn-default btn-circle btn-close"><i class="fa fa-close"></i></a>
        {% if products or vouchers %}
            <li>
                <table class="table table-striped">
                    {% for product in products %}
                        <tr id="row-product-{{ product.id }}">
                            <td class="text-left">{{ product.name }}</td>
                            <td class="text-right">x {{ product.qty*1 }}</td>
                            <td class="text-right">= {{ product.total*1 }}</td>
                            <td class="text-center">
                                <button type="button" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger ui-button-icon-only"
                                        onclick="TSBasket.remove('{{ product.id }}','#row-product-{{ product.id }}');">
                                    <i class="fa fa-close"></i>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    {% for voucher in vouchers %}
                        <tr id="row-voucher-{{ product.id }}">
                            <td class="text-center"></td>
                            <td class="text-left">{{ voucher.description }}</td>
                            <td class="text-right">x&nbsp;1</td>
                            <td class="text-right">{{ voucher.amount }}</td>
                            <td class="text-center text-danger">
                                <button type="button" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger ui-button-icon-only"
                                        onclick="TSBasket.remove('{{ product.id }}','#row-voucher-{{ product.id }}');">
                                    <i class="fa fa-close"></i>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </li>

            <li>
                <div>
                    <table class="table table-bordered">
                        {% for total in totals %}
                            <tr>
                                <td class="text-right"><strong>{{ total.title }}</strong></td>
                                <td class="text-right">{{ total.text }}</td>
                            </tr>
                        {% endfor %}
                    </table>

                    <p class="text-right">
                        <a href="{{ cart }}"><strong><i class="fa fa-shopping-cart"></i> {{ text_cart }}</strong></a>
                        &nbsp;&nbsp;&nbsp;
                        <a href="{{ checkout }}"><strong><i class="fa fa-share"></i> {{ text_checkout }}</strong></a>
                    </p>
                </div>
            </li>
        {% else %}
            <li>
                <p class="text-center">{{ text_empty }}</p>
            </li>
        {% endif %}
    </ul>
</div>
