{% for flash in flashers %}
    {% if flash.type == 'info' %}
        <div class="alert alert-info alert-dismissible"><i class="fa fa-info-circle"></i>
            {{ flash.text }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    {% endif %}
    {% if flash.type == 'success' %}
        <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i>
            {{ flash.text }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    {% endif %}
    {% if flash.type == 'warning' %}
        <div class="alert alert-warning alert-dismissible"><i class="fa fa-exclamation-circle"></i>
            {{ flash.text }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    {% endif %}
    {% if flash.type == 'error' %}
        <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i>
            {{ flash.text }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    {% endif %}
{% endfor %}