<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title }}</title>
    {% if robots %}
        <meta name="robots" content="{{ robots }}" />
    {% endif %}
    <base href="{{ base }}" />
    {% if description %}
        <meta name="description" content="{{ description }}" />
    {% endif %}
    {% if keywords %}
        <meta name="keywords" content="{{ keywords }}" />
    {% endif %}
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ og_url }}" />
    {% if og_image %}
        <meta property="og:image" content="{{ og_image }}" />
    {% else %}
        <meta property="og:image" content="{{ logo }}" />
    {% endif %}
    <meta property="og:site_name" content="{{ name }}" />

    <script>
        var ready = function ( fn ) {
            // Sanity check
            if ( typeof fn !== 'function' ) return;
            // If document is already loaded, run method
            if ( document.readyState === 'complete'  ) return fn();
            // Otherwise, wait until document is loaded
            // The document has finished loading and the document has been parsed but sub-resources such as images, stylesheets and frames are still loading. The state indicates that the DOMContentLoaded event has been fired.
            document.addEventListener( 'interactive', fn, false );
            // Alternative: The document and all sub-resources have finished loading. The state indicates that the load event has been fired.
            document.addEventListener( 'complete', fn, false );
            window.addEventListener( 'load', fn, false );
        };
    </script>

    <!-- NEW 4.3.1
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
    <link href="/catalog/view/libs/bootstrap-4.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <script src="/catalog/view/libs/bootstrap-4.3.1/js/bootstrap.min.js" type="text/javascript"></script>
    -->

    <!-- ORIGINAL
    -->
    <script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
    <link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

    <link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css" />
    <link href="/catalog/view/stylesheet/stylesheet.css" rel="stylesheet">
    <link href="/catalog/view/stylesheet/project.css" rel="stylesheet">

    <script src="/catalog/view/libraries/sweetalert2/dist/sweetalert2.min.js" type="text/javascript"></script>
    <link href="/catalog/view/libraries/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet" media="screen" />

    {% for style in styles %}
        <link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
    {% endfor %}
    {% for script in scripts %}
        <script src="{{ script }}" type="text/javascript"></script>
    {% endfor %}

    <script src="catalog/view/javascript/common.js" type="text/javascript"></script>
    <script src="/catalog/view/javascript/bootstrap3-typeahead.js" type="text/javascript"></script>
    <script src="/catalog/view/javascript/tezarius.js" type="text/javascript"></script>

    {% for link in links %}
        <link href="{{ link.href }}" rel="{{ link.rel }}" />
    {% endfor %}
    {% for analytic in analytics %}
        {{ analytic }}
    {% endfor %}
</head>
<body>
<nav id="top">
    <div class="container">
        {#
        {{ currency }}
        {{ language }}
        {{ blog_menu }}
        #}
        {{ office_menu }}
        <div id="top-links" class="nav pull-right">
            <ul class="list-inline">
                {#
                <li><a href="{{ contact }}"><i class="fa fa-phone"></i></a> <span class="hidden-xs hidden-sm hidden-md">{{ telephone }}</span></li>
                #}
                <li><i class="fa fa-phone"></i> <span>{{ telephone }}</span></li>
                <li class="dropdown">
                    <a href="{{ account }}" title="{{ text_account }}" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-user"></i>
                        <span class="hidden-xs hidden-sm hidden-md">{{ text_account }}</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        {% if logged %}
                            <li><a href="{{ account }}">{{ text_account }}</a></li>
                            <li><a href="{{ order }}">{{ text_order }}</a></li>
                            <li><a href="{{ garage }}">{{ text_garage }}</a></li>
                            <li><a href="{{ logout }}">{{ text_logout }}</a></li>
                            {#
                            <li><a href="{{ transaction }}">{{ text_transaction }}</a></li>
                            <li><a href="{{ download }}">{{ text_download }}</a></li>
                            <li><a href="{{ clear }}">{{ text_clear }}</a></li>
                            <li><a href="{{ clear }}">{{ text_clear }}</a></li>
                            #}
                        {% else %}
                            <li><a href="{{ register }}">{{ text_register }}</a></li>
                            <li><a href="{{ login }}">{{ text_login }}</a></li>
                        {% endif %}
                    </ul>
                </li>
                {#
                <li><a href="{{ wishlist }}" id="wishlist-total" title="{{ text_wishlist }}"><i class="fa fa-heart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_wishlist }}</span></a></li>
                <li><a href="{{ checkout }}" title="{{ text_checkout }}"><i class="fa fa-share"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_checkout }}</span></a></li>
                #}
                <li><a href="{{ shopping_cart }}" title="{{ text_shopping_cart }}"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_shopping_cart }}</span></a></li>
                <li>
                    <a href="{{ garage }}" title="{{ text_garage }}">
                        <i class="fa fa-car"></i>
                        <span class="hidden-xs hidden-sm hidden-md">
                            {{ text_garage }}
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div id="logo">
                    {% if home == og_url %}
                        <img src="/catalog/view/image/logo/tezarius-full.svg" width="70%" title="{{ name }}" alt="{{ name }}" class="img-responsive" />
                    {% else %}
                        <a href="{{ home }}"><img src="/catalog/view/image/logo/tezarius-full.svg" width="70%" title="{{ name }}" alt="{{ name }}" class="img-responsive" /></a>
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-5">{{ search }}</div>
            <div class="col-sm-3">{{ cart }}</div>
        </div>
    </div>
</header>
{{ menu }}
