{% if categories %}
<div class="container">
  <nav id="menu" class="navbar">
    <div class="navbar-header"><span id="category" class="visible-xs">{{ text_category }}</span>
      <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">

        <li><a href="https://tezarius.ru" target="_blank">TEZARIUS</a></li>

        {% for category in categories %}
          {% if category.children %}
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" target="_blank">
              {{ category.name }}
            </a>
            <div class="dropdown-menu">
              <div class="dropdown-inner">
                {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
                  <ul class="list-unstyled">
                    {% for child in children %}
                    <li><a href="{{ child.href }}" target="_blank">{{ child.name }}</a></li>
                    {% endfor %}
                  </ul>
                {% endfor %}
              </div>
              <a href="{{ category.href }}" class="see-all" target="_blank">{{ text_all }} {{ category.name }}</a> </div>
          </li>
          {% else %}
          <li><a href="{{ category.href }}" target="_blank">{{ category.name }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </nav>
</div>
{% endif %} 