<div id="top-offices-links" class="pull-left" data-current="{{ current }}">
	<div class="btn-group">
		<button class="btn btn-link dropdown-toggle" data-toggle="dropdown">
			<i class="fa fa-home"></i>
			<span class="!hidden-xs !hidden-sm !hidden-md">
				{{ text_offices }}
			</span>
			<i class="fa fa-caret-down"></i>
		</button>
		<ul class="dropdown-menu">
			{% for office in offices %}
				<li>
					<a data-office-id="{{ office.id }}" onClick="TSOffices.selected(this)">
						<i class="fa fa-check" style="{{ current==office.id?'':'display:none' }}"></i>
						<span>{{ office.address }}</span>
					</a>
					<!--pre>{ dump(office) }</pre-->
				</li>
			{% endfor %}
		</ul>
	</div>
</div>