.no-padding { padding: 0 !important; }
.hr-mv-5 { margin-top: 5px; margin-bottom: 5px; }
.bg-light { background-color: #f7f7f7; }
.inline-block { display: inline-block; }
.fs-20 { font-size: 20px !important; }
.fs-24 { font-size: 24px !important; }
.dashed { border-bottom: 1px dashed grey; cursor: pointer; }
a.dashed .dashed.link { border-color: #2385f5; }
.ellipsis {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    text-overflow: ellipsis;
    overflow: hidden;
}

#toTop {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    padding: 5px;
    font-size: 16px;
    text-align: center;
    border-radius: 6px;
    color: rgba(204, 204, 204, 0.8);
    border: 1px solid rgba(204, 204, 204, 0.8);
    background: rgba(247, 247, 247, 0.1);
    cursor: pointer;
}

.input-group .form-control[name^=quantity] {
    min-width: 30px;
    padding: 0;
    text-align: center;
}
.btn-block.counter {
    width: 100px;
}
.btn.basket-add {
    /*margin-left: -15px;*/
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.42;
    border-radius: 15px;
}
#cart .btn-close {
    position: absolute;
    top: -15px;
    left: -15px;
}


.table-grid .row-root {
    margin-top: -1px;
    padding-top: 7px;
    padding-bottom: 7px;
    border: 1px solid lightgray;
}
.table-grid .row-root:first-child {
    border-radius: 4px 4px 0 0;
}
.table-grid .row-root:last-child {
    border-radius: 0 0 4px 4px;
}
.table-grid .row-root a { color: inherit; border-color: inherit; }
.table-grid .row-root a:hover { border:none; }
.table-grid .row-root div.open { position:static; }


#garage-list .product-layout .btn-close {
    position: absolute;
    right: 20px;
    top: 5px;
    z-index: 1;
}
#garage-list .product-thumb {
    background: aliceblue;
}
#garage-list .product-thumb .image {
    padding: 10px;
}
#garage-list .product-thumb .caption {
    min-height: 130px;
}


#aftermarket-types .product-thumb .image {
    padding: 25px;
}
#aftermarket-types .product-thumb .image svg path {
    fill: #2385f5;
}
#aftermarket-types .product-thumb .caption {
    min-height: inherit;
}


#aftermarket-vehicles #details { margin-top: -25px; }





















.icon-bird-gray {
    width: 24px;
    height: 24px;
    background: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_done_black_24px.svg) no-repeat center;
}
.icon-bird-green {
    width: 24px;
    height: 24px;
    background-color: green;
    -webkit-mask: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_done_black_24px.svg) no-repeat center;
    mask: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_done_black_24px.svg) no-repeat center;
}

/* ns */
@media (max-width: 400px) {
    .width-full-ns { width: 100%; }
}
/* xs */
@media (max-width: 767px) {
    .text-xs-left { text-align: left; }
    .text-xs-right { text-align: right; }
    .text-xs-center { text-align: center; }
    .text-xs-justify { text-align: justify; }
    .mr-top-10-xs { margin-top: 10px; }
}
/* sm */
@media (min-width: 768px) and (max-width: 991px) {
    .text-sm-left { text-align: left; }
    .text-sm-right { text-align: right; }
    .text-sm-center { text-align: center; }
    .text-sm-justify { text-align: justify; }
    .mr-top-10-sm { margin-top: 10px; }
}
/* md */
@media (min-width: 992px) and (max-width: 1199px) {
    .text-md-left { text-align: left; }
    .text-md-right { text-align: right; }
    .text-md-center { text-align: center; }
    .text-md-justify { text-align: justify; }
    .mr-top-10-md { margin-top: 10px; }
}
/* lg */
@media (min-width: 1200px) {
    .text-lg-left { text-align: left; }
    .text-lg-right { text-align: right; }
    .text-lg-center { text-align: center; }
    .text-lg-justify { text-align: justify; }
    .mr-top-10-lg { margin-top: 10px; }
}