{{ header }}
<div id="checkout-cart" class="container">
    {{ breadcrumbs }}
    {{ flash }}

    <div class="row">
        {{ column_left }}

        {% if column_left and column_right %}{% set class = 'col-sm-6' %}
        {% elseif column_left or column_right %}{% set class = 'col-sm-9' %}
        {% else %}{% set class = 'col-sm-12' %}{% endif %}
        <div id="content" class="{{ class }}">
            {{ content_top }}


            <div class="row">
                <div class="col-xs-10">
                    <div class="btn-group tz-basket-tabs" role="group">
                        {% for tab in tabsList %}
                            <button type="button" data-toggle="tooltip"
                                    title="{{ (tab.tabID==tabActive) ? button_basket_cur : button_basket_tab }}"
                                    class="btn {{ (tab.tabID==tabActive) ? 'btn-success active-basket' : 'btn-default' }} tz-basket-tab"
                                    data-tab-id="{{ tab.tabID }}"
                                    onClick="TSBasket.change(this)"
                            ><i class="fa fa-shopping-cart"></i>&ensp;{{ tab.total*1 }}&nbsp;{{ currency_symbol }}</button>
                        {% endfor %}
                        <button type="button" data-toggle="tooltip" style="display:none"
                                data-title-active="{{ button_basket_cur }}"
                                data-title-default="{{ button_basket_tab }}"
                                data-class-current="active-basket"
                                data-class-active="btn-success active-basket"
                                data-class-default="btn-default"
                                onClick="TSBasket.change(this)"
                                class="btn tz-basket-tab-tpl">
                            <i class="fa fa-shopping-cart"></i>&ensp;{{ '0' }}&nbsp;{{ currency_symbol }}
                        </button>
                        <button type="button" data-toggle="tooltip" title="{{ button_basket_new }}" class="btn btn-info" onClick="TSBasket.create(this)"><i class="fa fa-plus"></i></button>
                    </div>
                </div>
                <div class="col-xs-2 text-right">
                    <button type="button" data-toggle="tooltip" title="{{ basket_remove }}" class="btn btn-danger" onClick="TSBasket.clear('{{ tabActive }}')"><i class="fa fa-trash-o"></i></button>
                </div>
            </div>


            <div id="basket-active-content">
                <h1>{{ heading_title }}{% if weight %} &nbsp;({{ weight }}){% endif %} </h1>
                <form action="{{ action }}" method="post" enctype="multipart/form-data">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <td class="text-left">{{ column_date }}</td>
                                <td class="text-left">{{ column_name }}</td>
                                <td class="text-left">{{ column_article }}</td>
                                <td class="text-left">{{ column_brand }}</td>
                                <td class="text-right">{{ column_price }}</td>
                                <td class="text-left">{{ column_quantity }}</td>
                                <td class="text-right">{{ column_total }}</td>
                                <td class="text-left">{{ column_delivery }}</td>
                                <td class="text-left">{{ column_comment }}</td>
                                <td class="text-center">{{ column_delete }}</td>
                            </tr>
                            </thead>
                            <tbody>
                            {% for product in products %}
                                <tr id="row-product-id-{{ product.id }}" class="row-product">
                                    <td class="text-left">{{ product.data_ins }}</td>
                                    <td class="text-left">
                                        <a href="{{ product.href }}">{{ product.name }}</a>
                                    </td>
                                    <td class="text-left">
                                        {% if product.isHideArticleCode %}
                                            *******
                                        {% else %}
                                            {{ product.code_display }}
                                        {% endif %}
                                    </td>
                                    <td class="text-left">{{ product.brand }}</td>
                                    <td class="text-right">
                                        {% if product.cost_first*1>product.cost*1 %}
                                            <del class="text-danger small">{{ product.cost_first*1 }}</del>
                                            <br>
                                            <span class="text-success">{{ product.cost*1 }}</span>
                                        {% else %}
                                            {{ product.cost*1 }}
                                        {% endif %}
                                    </td>
                                    <td class="text-left">
                                        <div id="counter_{{ product.id }}" class="input-group" style="max-width: 200px;">
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default btn-xs"
                                                        onclick="TSCounter.minus('#counter_{{ product.id }}',this);"
                                                >
                                                    <i class="fa fa-minus"></i>
                                                </button>
                                            </span>
                                            <input type="text" name="quantity[{{ product.id }}]" size="1" class="form-control !input-lg counter"
                                                   value="{{ product.qty*1 }}"
                                                   data-step="{{ product.part }}"
                                                   data-qty="{{ product.qty_free*1 }}"
                                                   data-id="{{ product.id }}"
                                                   onChange="TSBasket.quantity(this);"
                                            />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default btn-xs"
                                                        onclick="TSCounter.plus('#counter_{{ product.id }}',this);"
                                                >
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="text-right">{{ product.total*1 }}</td>
                                    <td class="text-left">{{ product.dlvr_period }}</td>
                                    <td class="text-left">
                                        <input type="text" class="form-control" data-id="{{ product.id }}"
                                               onChange="TSBasket.note('#counter_{{ product.id }}',this);"
                                               onKeyPress="TSBasket.note('#counter_{{ product.id }}',this);"
                                        />
                                    </td>
                                    <td class="text-center">
                                        <button type="button" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger ui-button-icon-only"
                                                onclick="TSBasket.remove('{{ product.id }}','#row-product-id-{{ product.id }}');">
                                            <i class="fa fa-close"></i>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </form>


                {% if modules %}
                    <h2>{{ text_next }}</h2>
                    <p>{{ text_next_choice }}</p>
                    <div class="panel-group" id="accordion">
                        {% for module in modules %}{{ module }}{% endfor %}
                    </div>
                {% endif %}
                <br />

                <div class="row">
                    <div class="col-sm-4 col-sm-offset-8">
                        <table class="table table-bordered">
                            {% for total in totals %}
                                <tr>
                                    <td class="text-right"><strong>{{ total.title }}:</strong></td>
                                    <td class="text-right">{{ total.text }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>


                <div class="buttons clearfix">
                    <div class="pull-left"><a href="{{ continue }}" class="btn btn-default">{{ button_shopping }}</a></div>
                    <div class="pull-right"><a href="{{ checkout }}" class="btn btn-primary">{{ button_checkout }}</a></div>
                </div>

            </div>
            {{ content_bottom }}

        </div>
        {{ column_right }}
    </div>
</div>
{{ footer }}