{{ header }}
<div id="product-manufacturer" class="container">

  <div class="row">

		{% if column_left or menu_open %}
		<div class="col-12 col-sm col-lg-3 order-lg-1 col-xl-mw260">
			{% if menu_open %}
			<div class="menu-holder d-none d-lg-block mb-3"></div><script>function menu_open_holder(){$(".menu-holder").height($(".category-menu-list").outerHeight()-$(".menu-holder").offset().top+$(".category-menu-list").offset().top)}</script>
			{% endif %}
			{{ column_left }}
		</div>
		{% endif %}

		{% if column_right %}
		<div class="col-12 col-sm col-lg-3 order-lg-3 col-xl-mw260">
			{{ column_right }}
		</div>
		{% endif %}


     <div id="content" class="col-12 col-lg order-lg-2">
			{{ content_top }}
      <nav aria-label="breadcrumb">
				<ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
					{% set i = 0 %}
					{% for breadcrumb in breadcrumbs %}
					{% set i = i + 1 %}
					{% if i == 1 %}
					<li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
						<a href="{{ breadcrumb.href }}"  itemprop="item">
              <meta itemprop="name" content="{{ g_text_home }}" />
							<span class="si si-18 d-inline-block">
								<svg height="18" fill="#333" viewBox="0 0 24 24" width="18" xmlns="http://www.w3.org/2000/svg">
									<path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"/>
								</svg>
							</span>
            </a>
            <meta itemprop="position" content="{{ i }}" />
					</li>
					{% elseif breadcrumbs|length != i %}
					<li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="{{ breadcrumb.href }}" itemprop="item">
              <span itemprop="name">{{ breadcrumb.text }}</span>
            </a>
            <meta itemprop="position" content="{{ i }}" />

          </li>
					{% else %}
					<li class="breadcrumb-item active">
            <span>{{ breadcrumb.text }}</span>
          </li>
					{% endif %}
					{% endfor %}
				</ol>
			</nav>
			<h1 class="h2 mb-4">{{ heading_title }}</h1>
      <div class="mb-4">
        {% if (description and not description_position) or splited_description_top %}
				<div class="row">
          {% if splited_description_top %}
          <div class="col">{{ splited_description_top }}</div>
					{% elseif description %}
					<div class="col">{{ description }}</div>
					{% endif %}
				</div>
				{% endif %}
				<hr>
			</div>

      {% if products %}
      <div class="mb-3">
				<div class="row no-gutters">
					<div class="col-auto col-sm-auto order-sm-3">
						<div class="btn-group ml-sm-2">
							<button type="button" id="ft-list-view" class="btn btn-light px-2 border-like-form" title="{{ button_list }}" onclick="list_view()">
								<span class="si si-rem">
									<svg fill="#aaa" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
										<path d="M4 10.5c-.83 0-1.5.67-1.5 1.5s.67 1.5 1.5 1.5 1.5-.67 1.5-1.5-.67-1.5-1.5-1.5zm0-6c-.83 0-1.5.67-1.5 1.5S3.17 7.5 4 7.5 5.5 6.83 5.5 6 4.83 4.5 4 4.5zm0 12c-.83 0-1.5.68-1.5 1.5s.68 1.5 1.5 1.5 1.5-.68 1.5-1.5-.67-1.5-1.5-1.5zM7 19h14v-2H7v2zm0-6h14v-2H7v2zm0-8v2h14V5H7z"/>
									</svg>
								</span>
							</button>
							<button type="button" id="ft-grid-view" class="btn btn-light px-2 border-like-form" title="{{ button_grid }}" onclick="grid_view()">
								<span class="si si-rem">
									<svg fill="#aaa" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
										<path d="M4 8h4V4H4v4zm6 12h4v-4h-4v4zm-6 0h4v-4H4v4zm0-6h4v-4H4v4zm6 0h4v-4h-4v4zm6-10v4h4V4h-4zm-6 4h4V4h-4v4zm6 6h4v-4h-4v4zm0 6h4v-4h-4v4z"/>
									</svg>
								</span>
							</button>
						</div>
					</div>
					<div class="col col-sm-auto ml-sm-auto order-sm-2">
						<div class="form-group input-group input-group-sm mb-0">
							<div class="input-group">
								<div class="input-group-prepend ml-2">
									<span class="input-group-text px-2 bg-light" title="{{ text_limit }}">
										<span class="si si-rem">
											<svg fill="#aaa" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
												<path d="M3 5H1v16c0 1.1.9 2 2 2h16v-2H3V5zm18-4H7c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V3c0-1.1-.9-2-2-2zm0 16H7V3h14v14z"/>
											</svg>
										</span>
									</span>
								</div>
								<select id="input-limit" class="form-control custom-select" onchange="location = this.value;">
									{% for limits in limits %}
									{% if limits.value == limit %}
									<option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
									{% else %}
									<option value="{{ limits.href }}">{{ limits.text }}</option>
									{% endif %}
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
					<div class="col-12 col-sm-auto order-sm-1 mt-2 mt-sm-0">
						<div class="form-group input-group input-group-sm mb-0">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text px-2 bg-light" title="{{ text_sort }}">
										<span class="si si-rem">
											<svg fill="#aaa" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
												<path d="M3 18h6v-2H3v2zM3 6v2h18V6H3zm0 7h12v-2H3v2z"/>
											</svg>
										</span>
									</span>
								</div>
								<select id="input-sort" class="form-control custom-select" onchange="location = this.value;">
									{% for sorts in sorts %}
									{% if sorts.value == '%s-%s'|format(sort, order) %}
									<option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
									{% else %}
									<option value="{{ sorts.href }}">{{ sorts.text }}</option>
									{% endif %}
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
				</div>
      </div>




      <div class="products-container">
				<div class="row">
					{% for product in products %}
					<div class="product-layout product-items product-grid {% if column_right and column_left %} col-xl-4 col-lg-6 col-md-4 col-sm-4 col-6 {% elseif column_right or column_left %} col-xl-3 col-lg-4 col-sm-4 col-6 {% else %} col-lg-3 col-md-4 col-sm-4 col-6 {% endif %}">
						<div class="card h-100">
							<div class="image position-relative px-2 px-md-3 pt-2 pb-2">
								<a href="{{ product.href }}">
									<img src="{{ product.thumb }}" {% if product.thumb2x %}srcset="{{ product.thumb }} 1x, {{ product.thumb2x }} 2x, {{ product.thumb3x }} 3x, {{ product.thumb4x }} 4x"{% endif %} alt="{{ product.name }}" title="{{ product.name }}" class="img-fluid mx-auto d-block" />
								</a>
								{% if product.stickers %}
								<div class="stickers position-absolute">
									{% for sticker in product.stickers %}
									<div><span class="{{ sticker.class }}">{{ sticker.text }}</span></div>
									{% endfor %}
								</div>
								{% endif %}
							</div>
							<div class="card-body px-2 px-md-3 pt-2 pb-0">
								<div class="caption">
									<h6 class="card-title"><a href="{{ product.href }}">{{ product.name }}</a></h6>
									<small class="description text-muted mb-3">{{ product.description }}</small>
								</div>
							</div>
							<div class="card-footer px-2 px-md-3 pb-2 pb-md-3 pt-0 bg-white border-0">
								{% if product.price %}
								<div class="price">
									{% if not product.special %}
									<div class="h6 mb-1">{{ product.price }}</div>
									{% else %}
									<div class="h6 mb-1">
										<s class="d-inline-block text-danger font-weight-light">{{ product.price }}</s>
										<span class="d-inline-block">{{ product.special }}</span>
									</div>
									{% endif %}
									{% if product.tax %}
									<small class="font-weight-light text-muted d-block">{{ text_tax }} {{ product.tax }}</small>
									{% endif %}
								</div>
								{% endif %}
								{% if review_status %}
								<div class="rating mt-2">
									<div class="d-inline-block mr-1">
										{% for i in 1..5 %}
										{% if product.rating < i %}
										<span class="si si-rem si-rem-star">
											<svg fill="#ddd" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
												<path d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z"/>
											</svg>
										</span>
										{% else %}
										<span class="si si-rem si-rem-star">
											<svg fill="#ffc107" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
												 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
											</svg>
										</span>
										{% endif %}
										{% endfor %}
									</div>
									<small class="d-inline-block">
										{% if product.reviews_href %}
										<a href="{{ product.reviews_href }}">{{ product.reviews }}</a>
										{% else %}
										<span class="text-muted">{{ product.reviews }}</span>
										{% endif %}
									</small>
								</div>
								{% endif %}
                {% if catalog_stok_status %}
                <div class="stok-status mt-3 mb-2">
                {% if product.quantity <= 0 %}
                <small class="d-block">&nbsp;<span class="text-danger">&#11044;</span>&nbsp;&nbsp;<span class="text-danger">{{ product.stock }}</span></small>
                {% else %}
                <small class="d-block">&nbsp;<span class="text-success">&#11044;</span>&nbsp;&nbsp;<span class="text-muted">{{ product.stock }}</span></small>
                {% endif %}
                </div>
                {% endif %}
								<div class="btn-group btn-group-cart-add mt-2">
									<button type="button" class="btn btn-light btn-cart-add px-1" onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');" {% if product.quantity <=0 and disable_btn_status %}disabled{% endif %}>
										<span class="si si-rem">
											<svg fill="#bbb" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
												<path d="M17.21 9l-4.38-6.56c-.19-.28-.51-.42-.83-.42-.32 0-.64.14-.83.43L6.79 9H2c-.55 0-1 .45-1 1 0 .09.01.18.04.27l2.54 9.27c.23.84 1 1.46 1.92 1.46h13c.92 0 1.69-.62 1.93-1.46l2.54-9.27L23 10c0-.55-.45-1-1-1h-4.79zM9 9l3-4.4L15 9H9zm3 8c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2z"/>
											</svg>
										</span>
										<span class="ml-1 mr-2 d-none d-md-inline text-muted">{% if product.quantity <=0 and disable_btn_status %}{{ disable_btn_text }}{% else %}{{ button_cart }}{% endif %}</span>
									</button>
									{% if fastorder_status %}
									<button type="button" class="btn btn-light btn-cart-add px-1"  title="{{ g_text_fastorder }}" onclick="ft_fastorder('{{ product.product_id }}')" {% if product.quantity <=0 and disable_btn_status %}disabled{% endif %}>
										<span class="si si-rem">
											<svg fill="#bbb" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
												<path d="M15 1H9v2h6V1zm-4 13h2V8h-2v6zm8.03-6.61l1.42-1.42c-.43-.51-.9-.99-1.41-1.41l-1.42 1.42C16.07 4.74 14.12 4 12 4c-4.97 0-9 4.03-9 9s4.02 9 9 9 9-4.03 9-9c0-2.12-.74-4.07-1.97-5.61zM12 20c-3.87 0-7-3.13-7-7s3.13-7 7-7 7 3.13 7 7-3.13 7-7 7z"/>
											</svg>
										</span>
									</button>
									{% endif %}
									{% if qview_status %}
									<button type="button" class="btn btn-light btn-cart-add px-1" title="{{ g_text_qview }}" onclick="ft_qview('{{ product.product_id }}')">
										<span class="si si-rem">
											<svg fill="#bbb" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
												<path d="M12,6.5c3.79,0,7.17,2.13,8.82,5.5c-1.65,3.37-5.02,5.5-8.82,5.5S4.83,15.37,3.18,12C4.83,8.63,8.21,6.5,12,6.5 M12,4.5 C7,4.5,2.73,7.61,1,12c1.73,4.39,6,7.5,11,7.5s9.27-3.11,11-7.5C21.27,7.61,17,4.5,12,4.5L12,4.5z"></path><path d="M12,9.5c1.38,0,2.5,1.12,2.5,2.5s-1.12,2.5-2.5,2.5S9.5,13.38,9.5,12S10.62,9.5,12,9.5 M12,7.5c-2.48,0-4.5,2.02-4.5,4.5 s2.02,4.5,4.5,4.5s4.5-2.02,4.5-4.5S14.48,7.5,12,7.5L12,7.5z"></path>
											</svg>
										</span>
									</button>
									{% endif %}
									<div class="btn-group position-static">
										<div class="dropdown-menu" >
											<a href="#" class="dropdown-item pl-2 pr-3" onclick="wishlist.add('{{ product.product_id }}');return false">
												<span class="si si-rem mr-1">
													<svg fill="#bbb" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
														<path d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z"/>
													</svg>
												</span>
												{{ button_wishlist }}
											</a>
											<a href="#" class="dropdown-item pl-2 pr-3" onclick="compare.add('{{ product.product_id }}');return false">
												<span class="si si-rem mr-1">
													<svg fill="#bbb" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
														<path d="M10 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h5v2h2V1h-2v2zm0 15H5l5-6v6zm9-15h-5v2h5v13l-5-6v9h5c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"/>
													</svg>
												</span>
												{{ button_compare }}
											</a>
										</div>
										<button type="button" class="btn btn-light btn-cart-add px-0" data-toggle="dropdown" data-flip="false">
											<span class="si si-rem">
												<svg fill="#bbb" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
													<path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/>
												</svg>
											</span>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
      <button type="button" class="btn btn-lg btn-block btn-showmore border btn-light mb-3 d-none text-muted" onclick="showmore()">
				<span class="si loading-icon mr-2">
					<svg class="spinner dark" width="24" height="24" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
						 <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
					</svg>
				</span>
				{{ g_text_showmore }}
			</button>
			<div class="row pr-container">
				<div class="col-12 col-md-auto ml-md-auto order-md-2 text-center text-md-left">
					<div class="d-table w-100 h-100">
						<div class="d-table-cell w-100 h-100 align-middle">
							<div class="results text-muted mb-3">{{ results }}</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-auto order-md-1 text-center text-md-left">
					<nav>
						{{ pagination }}
					</nav>
				</div>
			</div>
      {% else %}
      <p>{{ text_empty }}</p>
      <div class="buttons">
        <a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a>
      </div>
      {% endif %}

      {% if (description and description_position) or splited_description_bottom %}
			<hr>
			<div class="row">
        {% if splited_description_bottom %}
        <div class="col">{{ splited_description_bottom }}</div>
				{% elseif description %}
				<div class="col">{{ description }}</div>
				{% endif %}
			</div>
			{% endif %}

      </div>
	</div>
	{{ content_bottom }}
</div>
<script>
	function show_btn_showmore() {
		if ($('.pagination .active').next('li').length > 0) {
			$('.btn-showmore').removeClass('d-none');
		}
	}

	function showmore() {
		var $next = $('.pagination .active').next('li').find('a');
		    pl_class = $('.products-container').find('.product-layout').first().attr('class');

        url = $next.attr('href');
        url = url.replace(/(^\w+:|^)/, '');

		if ($next.length == 0) {
			return;
		}

		$.ajax({
			url: url,
			beforeSend: function() {
				$('.btn-showmore').addClass('loading');
				$('.btn-showmore').attr('disabled','diasbled');
			},
			success: function(data) {

				$('.btn-showmore').removeClass('loading');
				$('.btn-showmore').removeAttr('disabled');

				history.replaceState(null, null, url);

				$data = $(data);

				var $container = $('.product-layout').parent();

				$products = $data.find('.product-layout');

				$products.each(function() {
					$(this).removeAttr('class');
					$(this).addClass(pl_class);
				});

				$container.append($products);

				$('.pagination').html($data.find('.pagination'));
				$('.results span').html($data.find('.results span'));

				if ($('.pagination .active').next('li').length == 0) {
					$('.btn-showmore').addClass('d-none');
				}

				$data.filter('script').each(function () {
					if ((this.text || this.textContent || this.innerHTML).indexOf("document.write") >= 0) {
						return;
					}
					$.globalEval(this.text || this.textContent || this.innerHTML || '');
				});

			},
			error: function(xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});

		return false;
	}

	$(function () {
		show_btn_showmore();
	});
</script>
{{ footer }}
