{{ header }}
<div id="account-voucher" class="container">
	{% if error_warning %}
  <div class="alert alert-danger alert-dismissible">{{ error_warning }}</div>
  {% endif %}
  <div class="row">
		{% if column_left %}
		<div class="col-12 col-sm col-lg-3 order-lg-1 col-xl-mw260">
			{{ column_left }}
		</div>
		{% endif %}
		{% if column_right %}
		<div class="col-12 col-sm col-lg-3 order-lg-3 col-xl-mw260">
			{{ column_right }}
		</div>
		{% endif %}
    <div id="content" class="col-12 col-lg order-lg-2 mb-3">
			{{ content_top }}
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					{% set i = 0 %}
					{% for breadcrumb in breadcrumbs %}
					{% set i = i + 1 %}
					{% if i == 1 %}
					<li class="breadcrumb-item">
						<a href="{{ breadcrumb.href }}">
							<span class="si si-18 d-inline-block">
								<svg height="18" fill="#333" viewBox="0 0 24 24" width="18" xmlns="http://www.w3.org/2000/svg">
									<path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"/>
								</svg>
							</span>
						</a>
					</li>
					{% elseif breadcrumbs|length != i %}
					<li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
					{% else %}
					<li class="breadcrumb-item active">{{ breadcrumb.text }}</li>
					{% endif %}
					{% endfor %}
				</ol>
			</nav>
      <h1 class="h2 mb-4">{{ heading_title }}</h1>
      <p>{{ text_description }}</p>
      <form action="{{ action }}" method="post" enctype="multipart/form-data">
				<div class="form-row">
					<div class="col-12 col-sm-6">
						<div class="form-group required">
							<label class="" for="input-to-name">{{ entry_to_name }}</label>
							<input type="text" name="to_name" value="{{ to_name }}" id="input-to-name" class="form-control" />
							{% if error_to_name %}
							<div class="text-danger">{{ error_to_name }}</div>
							{% endif %}
						</div>
						</div>
					<div class="col-12 col-sm-6">
						<div class="form-group required">
							<label for="input-to-email">{{ entry_to_email }}</label>
							<input type="text" name="to_email" value="{{ to_email }}" id="input-to-email" class="form-control" />
							{% if error_to_email %}
							<div class="text-danger">{{ error_to_email }}</div>
							{% endif %}
						</div>
					</div>
					<div class="col-12 col-sm-6">
						<div class="form-group required">
							<label for="input-from-name">{{ entry_from_name }}</label>
							<input type="text" name="from_name" value="{{ from_name }}" id="input-from-name" class="form-control" />
							{% if error_from_name %}
							<div class="text-danger">{{ error_from_name }}</div>
							{% endif %}
						</div>
					</div>
					<div class="col-12 col-sm-6">
						<div class="form-group required">
							<label for="input-from-email">{{ entry_from_email }}</label>
							<input type="text" name="from_email" value="{{ from_email }}" id="input-from-email" class="form-control" />
							{% if error_from_email %}
							<div class="text-danger">{{ error_from_email }}</div>
							{% endif %}
						</div>
					</div>
					<div class="col-12">
						<div class="form-group required">
							<label>{{ entry_theme }}</label>
							{% for voucher_theme in voucher_themes %}
							{% if voucher_theme.voucher_theme_id == voucher_theme_id %}
							<div class="radio">
								<label>
									<input type="radio" name="voucher_theme_id" value="{{ voucher_theme.voucher_theme_id }}" checked="checked" />
									{{ voucher_theme.name }}
								</label>
							</div>
							{% else %}
							<div class="radio">
								<label>
									<input type="radio" name="voucher_theme_id" value="{{ voucher_theme.voucher_theme_id }}" />
									{{ voucher_theme.name }}
								</label>
							</div>
							{% endif %}
							{% endfor %}
							{% if error_theme %}
							<div class="text-danger">{{ error_theme }}</div>
							{% endif %}
						</div>
					</div>
					<div class="col-12">
						<div class="form-group">
							<label for="input-message"><span data-toggle="tooltip" title="{{ help_message }}">{{ entry_message }}</span></label>
							<textarea name="message" cols="40" rows="5" id="input-message" class="form-control">{{ message }}</textarea>
						</div>
					</div>
					<div class="col-12">
						<div class="form-group">
							<label for="input-amount"><span data-toggle="tooltip" title="{{ help_amount }}">{{ entry_amount }}</span></label>
							<input type="text" name="amount" value="{{ amount }}" id="input-amount" class="form-control" size="5" />
							{% if error_amount %}
							<div class="text-danger">{{ error_amount }}</div>
							{% endif %}
						</div>
					</div>
					<div class="col-12 col-md text-md-right mb-3 mb-md-0">
						<div class="d-table w-100 h-100">
							<div class="d-table-cell w-100 h-100 align-middle">
								<div class="checkbox"> 
									<label class="m-0">
										<span class="row no-gutters">
											<span class="col-auto order-md-2">
												{% if agree %}
												<input type="checkbox" class="align-middle mr-2 mr-md-0 ml-md-2" name="agree" value="1" checked="checked" />
												{% else %}
												<input type="checkbox" class="align-middle mr-2 mr-md-0 ml-md-2" name="agree" value="1" />
												{% endif %}
											</span>
											<span class="col order-md-1">
												{{ text_agree }}
											</span>
										</span>
									</label>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-auto">
						<input type="submit" value="{{ button_continue }}" class="btn btn-block btn-primary" />
					</div>
				</div>
      </form>
    </div>
	</div>
	{{ content_bottom }}	
</div>
{{ footer }}