{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-xds-custom-blocks" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
		{% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-xds-custom-blocks" class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-3 control-label" for="input-name">{{ entry_name }}</label>
            <div class="col-sm-9">
              <input type="text" name="name" value="{{ name }}" id="input-name" class="form-control" />
							{% if error_name %}
              <small class="text-danger">{{ error_name }}</small>
              {% endif %}
            </div>
          </div>
					<hr>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-9">
              <select name="status" id="input-status" class="form-control">
								{% if status %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
          <hr>
          <div class="form-group">
						<label class="col-sm-3 control-label">{{ entry_title }}</label>
						<div class="col-sm-9">
							{% for language in languages %}
							<div class="input-group">
								<span class="input-group-addon">
									<img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" />
								</span>
								<input name="title[{{ language.language_id }}]" value="{{ title[language.language_id] }}" class="form-control" />
							</div>
							{% endfor %}
						</div>
					</div>
					<hr>
          <div class="form-group">
            <label class="col-sm-3 control-label">{{ entry_limit }}</label>
            <div class="col-sm-9">
              <input type="text" name="limit" value="{{ limit }}" class="form-control">
            </div>
          </div>
          <hr>
          <div class="form-group">
            <label class="col-sm-3 control-label">{{ entry_sort }}</label>
            <div class="col-sm-9">
              <select name="sort" class="form-control">
								<option value="0" {% if not sort %} selected="selected" {% endif %}>{{ entry_sort_date }}</option>
                <option value="1" {% if sort %} selected="selected" {% endif %}>{{ entry_sort_random }}</option>
              </select>
            </div>
          </div>
          <hr>
          <div class="form-group">
            <label class="col-sm-3 control-label">{{ entry_rating }}</label>
            <div class="col-sm-9">
              <input type="text" name="rating" value="{{ rating }}" class="form-control">
            </div>
          </div>
					<hr>
          <div class="form-group">
            <label class="col-sm-3 control-label">{{ entry_image_size }}</label>
            <div class="col-sm-9">
              <div class="row">
                <div class="col-sm-6">
                  <input type="text" name="image_width" value="{{ image_width }}" class="form-control">
                </div>
                <div class="col-sm-6">
                  <input type="text" name="image_height" value="{{ image_height }}" class="form-control">
                </div>
              </div>
            </div>
          </div>
					<hr>
          <div class="form-group">
						<label class="col-sm-3 control-label">{{ entry_product_items }}</label>
						<div class="col-sm-9">
							<div class="table-responsive">
								<table class="table table-bordered">
									<thead>
										<tr>
											<th>{{ entry_resolution }}</th>
											<th>1200px + </th>
											<th>992px - 1200px</th>
											<th>768px - 992px</th>
											<th>576px - 768px</th>
											<th>380px - 576px</th>
											<th>380px -</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th>{{ entry_r_count_items }}</th>
											<td><input name="adaptive_items[1201]" value="{{ adaptive_items[1201] }}" class="form-control" /></td>
											<td><input name="adaptive_items[1200]" value="{{ adaptive_items[1200] }}" class="form-control" /></td>
											<td><input name="adaptive_items[992]" value="{{ adaptive_items[992] }}" class="form-control" /></td>
											<td><input name="adaptive_items[768]" value="{{ adaptive_items[768] }}" class="form-control" /></td>
											<td><input name="adaptive_items[576]" value="{{ adaptive_items[576] }}" class="form-control" /></td>
											<td><input name="adaptive_items[380]" value="{{ adaptive_items[380] }}" class="form-control" /></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<hr>
          <div class="form-group">
						<label class="col-sm-3 control-label">{{ entry_pagination }}</label>
						<div class="col-sm-9">
							<div class="btn-group" data-toggle="buttons">
								<label class="btn btn-default {% if not pagination %} active {% endif %}">
									<input type="radio" name="pagination" value="0" {% if not pagination %} checked {% endif %}>
									<span class="on-off">{{ text_no }}</span>
								</label>
								<label class="btn btn-default {% if pagination %} active {% endif %}">
									<input type="radio" name="pagination" value="1" {% if pagination %} checked {% endif %}>
									<span class="on-off">{{ text_yes }}</span>
								</label>
							</div>
						</div>
					</div>
					<hr>
					<div class="form-group">
						<label class="col-sm-3 control-label">{{ entry_autuplay }}</label>
						<div class="col-sm-9">
							<div class="btn-group" data-toggle="buttons">
								<label class="btn btn-default {% if not autoplay %} active {% endif %}" >
									<input type="radio" name="autoplay" value="0" {% if not autoplay %} checked {% endif %}>
									<span class="on-off">{{ text_no }}</span>
								</label>
								<label class="btn btn-default {% if autoplay %} active {% endif %}">
									<input type="radio" name="autoplay" value="1" {% if autoplay %} checked {% endif %}>
									<span class="on-off">{{ text_yes }}</span>
								</label>
							</div>
						</div>
					</div>
					<hr>
					<div class="form-group">
            <label class="col-sm-3 control-label">{{ entry_autuplay_speed }}</label>
            <div class="col-sm-9">
              <input type="text" name="autoplay_speed" value="{{ autoplay_speed }}" class="form-control" />
            </div>
          </div>
					<hr>

        </form>
      </div>
    </div>
  </div>
</div>

{{ footer }}
