{{ header }}{{ column_left }}
<div id="content">
	<style>
		.form-group {
			padding: 0;
		}
		.form-group + .form-group{
			border-top: none;
		}
		label{
			font-weight: normal;
		}
		hr{
			margin-top: 10px;
			margin-bottom: 10px;
		}
		.on-off{
			width: 40px;
			text-align:center;
			display: block;
		}
		.nowrap{
			white-space: nowrap;
		}
		.input-group+.input-group{
			margin-top: -1px;
		}
		thead {
			background: #f5f5f5;
		}
		@media (min-width: 768px) {
			.form-horizontal .control-label {
				padding-top: 0px; 
			}
		}
		.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
				border-bottom: none;
		}
		.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
			padding: 5px;
		}
		.table thead td {
			font-weight: normal;
		}
		.img-thumbnail img {
			max-width: 46px;
		}
		.table thead td span[data-toggle="tooltip"]:after, label.control-label span:after {
			content: "\f29c";
		}
		.w-1{
			width:1%;
		}
		pre {
			border:none;
			border-radius: 0;
			max-height: 100px;
			overflow-x: hidden;
			overflow-y: auto;
		}
		.nav-pills{
			margin-bottom: 40px;
		}
		.nav-pills > li > a {
			background-color: #fafafa;
		}
		@media (min-width: 1200px) {
			.nav-pills > li > a {
				text-align: right
			}
		}
		.well{
			margin: 0;
		}
		.well .checkbox{
			padding-top: 2px;
			padding-bottom: 2px;
			min-height: auto;
		}
		.panel-body{
			position: relative;
		}
		body.loading .panel-body:after{
			position: absolute;
			content: "";
			display: block;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			background: rgba(255,255,255,.5);
			z-index: 999;
		}
		.l-icon {
			display: none;
		}
		body.loading .l-icon{
			display: inline-block;
		}
		body.loading .s-icon{
			display: none;
		}
		.alert-dismissable .close, .alert-dismissible .close{
			top:0;
		}
		.alert .fa {
			margin-right: 5px;
		}
		.alert a {
			color: #c72f1d;
			text-decoration: underline;
			font-weight: bold;
		}
	</style>

  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-xds-custom-blocks" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
		{% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-xds-custom-blocks" class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-3 control-label" for="input-name">{{ entry_name }}</label>
            <div class="col-sm-9">
              <input type="text" name="name" value="{{ name }}" id="input-name" class="form-control" />
							{% if error_name %}
              <small class="text-danger">{{ error_name }}</small>
              {% endif %}
            </div>
          </div>
					<hr>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-9">
              <select name="status" id="input-status" class="form-control">
								{% if status %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
					<hr>
					<div class="form-group">
            <label class="col-sm-3 control-label" for="input-columns">{{ blocks_in_row_text }}</label>
            <div class="col-sm-9">
              <select name="columns" id="input-columns" class="form-control">
                <option value="1" {% if columns == 1 %}selected{% endif %}>1</option>
                <option value="2" {% if columns == 2 %}selected{% endif %}>2</option>
								<option value="3" {% if columns == 3 %}selected{% endif %}>3</option>
								<option value="4" {% if columns == 4 %}selected{% endif %}>4</option>
              </select>
            </div>
          </div>
					<hr>
					<div class="form-group">
						<label class="col-sm-3 control-label" for="input-blocks">{{ blocks_text }}</label>
						<div class="col-sm-9">
							<table id="items" class="table table-bordered table-hover">
								<thead>
									<tr>
										<td>{{ entry_image }}</td>
										<td>{{ entry_html }}</td>
										<td>{{ entry_title }}</td>
										<td>{{ entry_description }}</td>
										<td>{{ entry_link }}</td>
										<td>{{ entry_sort_order }}</td>
										<td></td>
									</tr>
								</thead>
								<tbody>
								{% set item_row = 0 %}
								{% for cust_blocks_item in cust_blocks_items %}
									<tr id="item-row{{ item_row }}">
										<td class="text-left">
											<a href="" id="thumb-image{{ item_row }}" data-toggle="image" class="img-thumbnail"><img src="{{ cust_blocks_item.thumb }}" alt="" title="" data-placeholder="{{ placeholder }}"  /></a><input type="hidden" name="cust_blocks_item[{{ item_row }}][image]" value="{{ cust_blocks_item.image }}" id="input-image{{ item_row }}" />
										</td>
										<td class="text-left">
											<textarea class="form-control" name="cust_blocks_item[{{ item_row }}][html]" style="font-family:monospace" rows=2>{{ cust_blocks_item.html }}</textarea>
										</td>
										<td class="text-left">
											{% for language in languages %}
											<div class="input-group input-group-sm pull-left">
												<span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
												<input class="form-control" type="text" name="cust_blocks_item[{{ item_row }}][title][{{ language.language_id }}]" value="{{ cust_blocks_item.title[language.language_id] }}" />
												
											</div>
											{% endfor %}
										</td>
										<td class="text-left">
											{% for language in languages %}
											<div class="input-group input-group-sm pull-left">
												<span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
												<input class="form-control" type="text" name="cust_blocks_item[{{ item_row }}][description][{{ language.language_id }}]" value="{{ cust_blocks_item.description[language.language_id] }}" />
												
											</div>
											{% endfor %}
										</td>
										<td class="text-left">
											{% for language in languages %}
											<div class="input-group input-group-sm pull-left">
												<span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
													<input class="form-control" type="text" name="cust_blocks_item[{{ item_row }}][link][{{ language.language_id }}]" value="{{ cust_blocks_item.link[language.language_id] }}" />
													
											</div>
											{% endfor %}
										</td>
										<td class="text-left">
											<input  class="form-control" type="text" name="cust_blocks_item[{{ item_row }}][sort]" value="{{ cust_blocks_item.sort }}" />
										</td>
										<td class="text-right">
											<a class="btn btn-danger" onclick="$('#item-row{{ item_row }}').remove();" data-toggle="tooltip" title="{{ button_delete }}"><i class="fa fa-trash-o"></i></a>
										</td>
									</tr>
								{% set item_row = item_row + 1 %}
								{% endfor %}
								</tbody>
								<tfoot>
									<tr>
										<td colspan="6"></td>
										<td class="text-right"><a class="btn btn-default" onclick="addItem();" data-toggle="tooltip" title="{{ button_add }}"><i class="fa fa-plus"></i></a></td>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
        </form>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
var item_row = {{ item_row }};

function addItem() {
  html  = '<tr id="item-row' + item_row + '">';
	html += '<td class="text-left"><a href="" id="thumb-image' + item_row + '" data-toggle="image" class="img-thumbnail"><img src="{{ placeholder }}" data-placeholder="{{ placeholder }}"  /></a><input type="hidden" name="cust_blocks_item[' + item_row + '][image]" value="" id="input-image' + item_row + '" /></td>';
	html += '<td class="text-left"><textarea class="form-control" name="cust_blocks_item[' + item_row + '][html]" rows="2" style="font-family:monospace" ></textarea></td>';
  html += '<td class="text-left">';
	{% for language in languages %}
	html += '<div class="input-group input-group-sm pull-left"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>';
	html += '<input class="form-control" type="text" name="cust_blocks_item[' + item_row + '][title][{{ language.language_id }}]" value="" />';
	html += '</div>';
	{% endfor %}
	html += '</td>';
	html += '<td class="text-left">';
	{% for language in languages %}
	html += '<div class="input-group input-group-sm pull-left"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>';
	html += '<input class="form-control" type="text" name="cust_blocks_item[' + item_row + '][description][{{ language.language_id }}]" value="" />';
	html += '</div>';
	{% endfor %}
	html += '</td>';
	html += '<td class="text-left">';
	{% for language in languages %}
	html += '<div class="input-group input-group-sm pull-left"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>';
	html += '<input class="form-control"  type="text" name="cust_blocks_item[' + item_row + '][link][{{ language.language_id }}]" value="" />';
	html += '</div>';
	{% endfor %}
	html += '</td>';
	html += '<td class="text-left"><input class="form-control" type="text" name="cust_blocks_item[' + item_row + '][sort]" size="1" value="0" /></td>';
	html += '<td class="text-right"><a class="btn btn-danger" onclick="$(\'#item-row' + item_row  + '\').remove();" data-toggle="tooltip" title="{{ button_delete }}"><i class="fa fa-trash-o"></i></a></td>';
	html += '</tr>'; 
	
	$('#items tbody').append(html);;
	
	item_row++;
}
</script>
{{ footer }}