{{ header }}
<div id="aftermarket-marks" class="container">
  {{ breadcrumbs }}
  {{ flash }}

  <div class="row">
    {{ column_left }}

    {% if column_left and column_right %}{% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}{% set class = 'col-sm-9' %}
    {% else %}{% set class = 'col-sm-12' %}{% endif %}
    <div id="content" class="{{ class }}">
      {{ content_top }}

      <h2>{{ heading_title }}</h2>
      <hr>
      <div class="row">
        {% for mark in marks %}
          <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <h4 class="text-center"><a href="{{ blankURI }}{{ mark.manuId }}">{{ mark.manuName }}</a></h4>
          </div>
        {% endfor %}
      </div>

      {{ content_bottom }}
    </div>

    {{ column_right }}
  </div>
</div>
{{ footer }}
