{{ header }}
<div id="aftermarket-vehicles" class="container">
  {{ breadcrumbs }}
  {{ flash }}

  <div class="row">
    {{ column_left }}

    {% if column_left and column_right %}{% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}{% set class = 'col-sm-9' %}
    {% else %}{% set class = 'col-sm-12' %}{% endif %}
    <div id="content" class="{{ class }}">
      {{ content_top }}

      <h2>{{ heading_title }}</h2>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          {{ treeHTML | raw }}
          <br>
          <br>
          <br>
        </div>
        <div id="details" class="col-sm-9"></div>
      </div>

      {{ content_bottom }}
    </div>

    {{ column_right }}
  </div>
</div>
{{ footer }}

<script>
  ready(function(){
    ///$('#tz-tree').treed();
    $('#tz-tree').treed({openedClass:'glyphicon-folder-open', closedClass:'glyphicon-folder-close'});
    ///$('#tz-tree').treed({openedClass:'glyphicon-chevron-right', closedClass:'glyphicon-chevron-down'});

    $('a.pricing').click(function(){
      let
          $ths = $(this)
          ,type = $ths.data('type')
          ,car  = $ths.data('car')
          ,node = $ths.data('node')
      ;
      $.ajax({
        url: 'index.php?route=catalog/aftermarket/details',
        type: 'post',
        data: 'type=' + type + '&car=' + car + '&node=' + node + '&inner=1',
        dataType: 'json',
        beforeSend: function() {
          ///$(ths).button('loading');
        },
        complete: function() {
          ///$(ths).button('reset');
        },
        success: function(json) {
          ///console.log('|.:: AFTERMARKET details JSON ::.|',getURLVar('route'),json);
          ///if( json.status ) location.href = json.redirect;
          if( json['flash'] ) $('.breadcrumb').after(json['flash']);
          if( json.message ){
            Swal.fire({
              type: json.message.type,
              title: json.message.text,
              ///text: json.message.text,
            });
          }
          if( json['details'] ){
            let $details = $('#details');
            $details.html(json['details']);
            $("html, body").animate({
              scrollTop: $details.offset().top - 50
            }, 1000);
          }
        },
        error: function(xhr, ajaxOptions, thrownError) {
          alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
      });

      return false;
    });
  })
</script>
