{{ header }}
<div id="aftermarket-types" class="container">
  {{ breadcrumbs }}
  {{ flash }}

  <div class="row">
    {{ column_left }}

    {% if column_left and column_right %}{% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}{% set class = 'col-sm-9' %}
    {% else %}{% set class = 'col-sm-12' %}{% endif %}
    <div id="content" class="{{ class }}">
      {{ content_top }}

      <h2>{{ heading_title }}</h2>
      <hr>
      <div class="row">
        {% for type in types %}
          <div class="product-layout col-sm-4">
            <div class="product-thumb transition">
              <div class="image">
                <a href="{{ type.href }}">
                  <img src="{{ type.image }}" alt="{{ type.name }}" title="{{ type.name }}" class="img-responsive" onLoad="SVGInject(this)" />
                </a>
              </div>
              <div class="caption">
                <h2 class="text-center"><a href="{{ type.href }}">{{ type.name }}</a></h2>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

      {{ content_bottom }}
    </div>

    {{ column_right }}
  </div>
</div>
{{ footer }}
