{{ header }}
<div id="aftermarket-vehicles" class="container">
  {{ breadcrumbs }}
  {{ flash }}

  <div class="row">
    {{ column_left }}

    {% if column_left and column_right %}{% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}{% set class = 'col-sm-9' %}
    {% else %}{% set class = 'col-sm-12' %}{% endif %}
    <div id="content" class="{{ class }}">
      {{ content_top }}

      <h2>{{ heading_title }}</h2>
      <hr>
      <div class="row">
        {% for vehicle in vehicles %}
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <h4 class="text-center">
              <a href="{{ blankURI }}{{ vehicle.carId }}">
                {{ vehicle.typeName }}
                <br>
                {{ vehicle.hp }} / {{ vehicle.motorType }}
                <br>
                {{ vehicle.constructionType }}
              </a>
            </h4>
          </div>
        {% endfor %}
      </div>

      {{ content_bottom }}
    </div>

    {{ column_right }}
  </div>
</div>
{{ footer }}
