{{ header }}
<div id="tezarius-account-register" class="container">
    {{ breadcrumbs }}
    {{ flash }}

    <div class="row">
        {{ column_left }}

        {% if column_left and column_right %}{% set class = 'col-sm-6' %}
        {% elseif column_left or column_right %}{% set class = 'col-sm-9' %}
        {% else %}{% set class = 'col-sm-12' %}{% endif %}
        <div id="tezarius-content" class="{{ class }}">{{ content_top }}
            <h1>{{ heading_title }}</h1>
            <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
                <fieldset id="tezarius-account">
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-vin">{{ entry_vin }}</label>
                        <div class="col-sm-10">
                            <input type="text" name="vin" value="{{ vin }}" placeholder="{{ holder_vin }}" id="input-vin" class="form-control" />
                            {% if error_vin %}<div class="text-danger">{{ error_vin }}</div>{% endif %}
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
                        <div class="col-sm-10">
                            <input type="text" name="name" value="{{ name }}" placeholder="{{ holder_name }}" id="input-name" class="form-control" />
                            {% if error_name %}<div class="text-danger">{{ error_name }}</div>{% endif %}
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-phone">{{ entry_phone }}</label>
                        <div class="col-sm-10">
                            <input type="tel" name="phone" value="{{ phone }}" placeholder="{{ holder_phone }}" id="input-phone" class="form-control" />
                            {% if error_phone %}<div class="text-danger">{{ error_phone }}</div>{% endif %}
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-note">{{ entry_note }}</label>
                        <div class="col-sm-10">
                            <textarea type="note" name="note" placeholder="{{ holder_note }}" id="input-note" class="form-control" rows="7">{{ note }}</textarea>
                            {% if error_note %}<div class="text-danger">{{ error_note }}</div>{% endif %}
                        </div>
                    </div>
                </fieldset>
                {{ captcha }}
                {% if text_agree %}
                    <div class="buttons">
                        <div class="pull-right">{{ text_agree }}
                            {% if agree %}
                                <input type="checkbox" name="agree" value="1" checked="checked" />
                            {% else %}
                                <input type="checkbox" name="agree" value="1" />
                            {% endif %}
                            &nbsp;
                            <input type="submit" value="{{ button_continue }}" class="btn btn-primary" />
                        </div>
                    </div>
                {% else %}
                    <div class="buttons">
                        <div class="pull-right">
                            <input type="submit" value="{{ button_continue }}" class="btn btn-primary" />
                        </div>
                    </div>
                {% endif %}
            </form>
            {{ content_bottom }}
        </div>
        {{ column_right }}
    </div>
</div>
<script type="text/javascript"><!--
    {% if StockID==0 %}
    TSOffices.noSelected();
    {% endif %}
    // Sort the custom fields
    $('#account .form-group[data-sort]').detach().each(function() {
        if ($(this).attr('data-sort') >= 0 && $(this).attr('data-sort') <= $('#account .form-group').length) {
            $('#account .form-group').eq($(this).attr('data-sort')).before(this);
        }

        if ($(this).attr('data-sort') > $('#account .form-group').length) {
            $('#account .form-group:last').after(this);
        }

        if ($(this).attr('data-sort') == $('#account .form-group').length) {
            $('#account .form-group:last').after(this);
        }

        if ($(this).attr('data-sort') < -$('#account .form-group').length) {
            $('#account .form-group:first').before(this);
        }
    });
    $('input[name=\'customer_group_id\']').on('change', function() {
        $.ajax({
            url: 'index.php?route=account/register/customfield&customer_group_id=' + this.value,
            dataType: 'json',
            success: function(json) {
                $('.custom-field').hide();
                $('.custom-field').removeClass('required');

                for (i = 0; i < json.length; i++) {
                    custom_field = json[i];

                    $('#custom-field' + custom_field['custom_field_id']).show();

                    if (custom_field['required']) {
                        $('#custom-field' + custom_field['custom_field_id']).addClass('required');
                    }
                }
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });
    $('input[name=\'customer_group_id\']:checked').trigger('change');
    $('button[id^=\'button-custom-field\']').on('click', function() {
        var element = this;

        $('#form-upload').remove();

        $('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

        $('#form-upload input[name=\'file\']').trigger('click');

        if (typeof timer != 'undefined') {
            clearInterval(timer);
        }

        timer = setInterval(function() {
            if ($('#form-upload input[name=\'file\']').val() != '') {
                clearInterval(timer);

                $.ajax({
                    url: 'index.php?route=tool/upload',
                    type: 'post',
                    dataType: 'json',
                    data: new FormData($('#form-upload')[0]),
                    cache: false,
                    contentType: false,
                    processData: false,
                    beforeSend: function() {
                        $(element).button('loading');
                    },
                    complete: function() {
                        $(element).button('reset');
                    },
                    success: function(json) {
                        $(element).parent().find('.text-danger').remove();

                        if (json['error']) {
                            $(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
                        }

                        if (json['success']) {
                            alert(json['success']);

                            $(element).parent().find('input').val(json['code']);
                        }
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                    }
                });
            }
        }, 500);
    });
    //--></script>
{{ footer }}