{{ header }}
<div id="price-brands" class="container">
    {{ breadcrumbs }}
    {{ flash }}

    <div class="row">
        {{ column_left }}

        {% if column_left and column_right %}
            {% set class = 'col-sm-6' %}
        {% elseif column_left or column_right %}
            {% set class = 'col-sm-9' %}
        {% else %}
            {% set class = 'col-sm-12' %}
        {% endif %}
        <div id="content" class="{{ class }}">
            {{ content_top }}

            {% for brand in brands %}
                <div class="row">

                    {% if column_left or column_right %}
                        {% set class = 'col-sm-3' %}
                    {% else %}
                        {% set class = 'col-sm-2' %}
                    {% endif %}
                    <div class="{{ class }}">
                        <a href="{{ offersLink }}&brand={{ brand.name }}">{{ brand.name }}</a>
                    </div>

                    {% if column_left or column_right %}
                        {% set class = 'col-sm-9' %}
                    {% else %}
                        {% set class = 'col-sm-10' %}
                    {% endif %}
                    <div class="{{ class }}">
                        <a href="{{ offersLink }}&brand={{ brand.name }}">{{ brand.goods_name }}</a>
                    </div>
                </div>
                <hr>
            {% endfor %}

            {{ content_bottom }}
        </div>

        {{ column_right }}
    </div>
</div>
{{ footer }}
