<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title"><a href="#collapse-reward" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">{{ heading_title }} <i class="fa fa-caret-down"></i></a></h4>
  </div>
  <div id="collapse-reward" class="panel-collapse collapse">
    <div class="panel-body">
      <input type="submit" value="{{ button_cancel_discounts }}" id="button-cancel-discounts" name="button-cancel-discounts" data-loading-text="{{ text_loading }}" class="btn btn-primary" />
      <script type="text/javascript"><!--
        $('#button-cancel-discounts').on('click', function() {
          $.ajax({
            url: 'index.php?route=extension/total/cancel/all',
            type: 'post',
            ///data: 'reward=' + $('input[name=\'reward\']').val()*1,
            dataType: 'json',
            beforeSend: function() {
              $('#button-reward').button('loading');
            },
            complete: function() {
              $('#button-reward').button('reset');
            },
            success: function(json) {
              console.log('|.:: view extension total cancel all ::.|',getURLVar('route'),json);
              if( json['flash'] ) $('.breadcrumb').after(json['flash']);
              if( json.message ){
                Swal.fire({
                  type: json.message.type,
                  title: json.message.text,
                  ///text: json.message.text,
                });
              }
              if( json.status ) location.href = json.redirect;
            },
            error: function(xhr, ajaxOptions, thrownError) {
              alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
          });
        });
//--></script>
    </div>
  </div>
</div>