<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title"><a href="#collapse-coupon" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">{{ heading_title }} <i class="fa fa-caret-down"></i></a></h4>
  </div>
  <div id="collapse-coupon" class="panel-collapse collapse">
    <div class="panel-body">
      <label class="col-sm-2 control-label" for="input-coupon">{{ entry_coupon }}</label>
      <div class="input-group">
        <input type="text" name="coupon" value="{{ coupon }}" placeholder="{{ entry_coupon }}" id="input-coupon" class="form-control" />
        <span class="input-group-btn">
        <input type="button" value="{{ button_coupon }}" id="button-coupon" data-loading-text="{{ text_loading }}"  class="btn btn-primary" />
        </span>
      </div>
      <script type="text/javascript"><!--
        $('#button-coupon').on('click', function() {
          $.ajax({
            url: 'index.php?route=extension/total/coupon/coupon',
            type: 'post',
            data: 'coupon=' + encodeURIComponent($('input[name=\'coupon\']').val()),
            dataType: 'json',
            beforeSend: function() {
              $('#button-coupon').button('loading');
            },
            complete: function() {
              $('#button-coupon').button('reset');
            },
            success: function(json) {
              console.log('|.:: view extension total coupon ::.|',getURLVar('route'),json);
              if( json['flash'] ) $('.breadcrumb').after(json['flash']);
              if( json.message ){
                Swal.fire({
                  type: json.message.type,
                  title: json.message.text,
                  ///text: json.message.text,
                });
              }
              if( json.status ) location.href = json.redirect;
            },
            error: function(xhr, ajaxOptions, thrownError) {
              alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
          });
        });
        //--></script>
    </div>
  </div>
</div>
