<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title"><a href="#collapse-reward" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">{{ heading_title }} <i class="fa fa-caret-down"></i></a></h4>
  </div>
  <div id="collapse-reward" class="panel-collapse collapse">
    <div class="panel-body">
      <label class="col-sm-6 control-label" for="input-reward">{{ entry_reward }}</label>
      <div class="input-group">
        <input type="text" name="reward" value="{{ reward }}" placeholder="{{ entry_reward }}" id="input-reward" class="form-control text-right" readonly/>
        <span class="input-group-btn">
        <input type="submit" value="{{ button_reward }}" id="button-reward" data-loading-text="{{ text_loading }}"  class="btn btn-primary" />
        </span>
      </div>
      <script type="text/javascript"><!--
        $('#button-reward').on('click', function() {
          $.ajax({
            url: 'index.php?route=extension/total/reward/reward',
            type: 'post',
            data: 'reward=' + $('input[name=\'reward\']').val()*1,
            dataType: 'json',
            beforeSend: function() {
              $('#button-reward').button('loading');
            },
            complete: function() {
              $('#button-reward').button('reset');
            },
            success: function(json) {
              console.log('|.:: view extension total reward ::.|',getURLVar('route'),json);
              if( json['flash'] ) $('.breadcrumb').after(json['flash']);
              if( json.message ){
                Swal.fire({
                  type: json.message.type,
                  title: json.message.text,
                  ///text: json.message.text,
                });
              }
              if( json.status ) location.href = json.redirect;
            },
            error: function(xhr, ajaxOptions, thrownError) {
              alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
          });
        });
//--></script>
    </div>
  </div>
</div>