<div id="banner-{{ module }}" class="ft banner-wrapper banner-{{ module }} position-relative mb-3">

    <div class="owl-carousel">
		{% for banner in banners %}
      <div class="item position-relative">
				{% if banner.link %}
					<a href="{{ banner.link }}">
            <div class="position-absolute lazy-spinner"><div class="spinner-border"></div></div>
						<img src="{{ banner.thumb_holder }}" data-src="{{ banner.image }}" alt="{{ banner.title }}" class="img-fluid d-block mx-auto owl-lazy" />
					</a>
				{% else %}
          <div class="position-absolute lazy-spinner"><div class="spinner-border"></div></div>
					<img src="{{ banner.thumb_holder }}" data-src="{{ banner.image }}" alt="{{ banner.title }}" class="img-fluid d-block mx-auto owl-lazy" />
				{% endif %}
			</div>
    {% endfor %}
		</div>

</div>
<script>
	$(function () {

		var owl_banner_{{ module }} = $('#banner-{{ module }} .owl-carousel');

		owl_banner_{{ module }}.owlCarousel({
	    loop: true,
      lazyLoad: true,
	    margin: 0,
      items:1,
			nav: false,
      dots: false,
      autoplay: true,
			autoplayTimeout: 2500,
			autoplayHoverPause: true,
		});

    owl_banner_{{ module }}.on('loaded.owl.lazy',function(e){e.element.parent().find('.lazy-spinner').remove()});

	});
</script>
