{% if articles %}
<div class="news-wall mb-3">
  <div class="h5 mb-1">{{ heading_title }}</div>
  <div class="row">
    {% for article in articles %}
     <div class="col-12 col-sm-6 col-md-4 col-lg-3 article-col">
       <div class="card mt-2 mb-2">
          <a href="{{ article.href }}">
              <img src="{{ article.thumb }}" alt="{{ article.name }}" title="{{ article.name }}" {% if article.thumb2x %}srcset="{{ article.thumb }} 1x, {{ article.thumb2x }} 2x, {{ article.thumb3x }} 3x, {{ article.thumb4x }} 4x"{% endif %} class="card-img-top" >
          </a>
          <div class="card-body pb-0">
            <div class="h6 card-title font-weight-normal {% if  review_status %}mb-2{% else %}mb-0{% endif %}"><a href="{{ article.href }}">{{ article.name }}</a></div>

            {% if review_status %}
            <p class="rating card-text">
              {% for i in 1..5 %}
              {% if article.rating < i %}
              <span class="si si-rem si-rem-star">
               <svg fill="#ddd" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                 <path d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z"/>
               </svg>
             </span>
             {% else %}
             <span class="si si-rem si-rem-star">
               <svg fill="#ffc107" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
               </svg>
             </span>
              {% endif %}
              {% endfor %}
            </p>
            {% endif %}
          </div>
          <div class="card-footer bg-white border-0">
            <div class="row no-gutters">
              <div class="col-auto">
                <span class="badge badge-light pl-0 mr-2" title="{{ article.description }}" onclick="location.href = ('{{ article.href }}');" style="cursor:pointer">
                  <span class="si si-rem">
     								<svg fill="#aaa" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
     									<path d="M3 18h12v-2H3v2zM3 6v2h18V6H3zm0 7h18v-2H3v2z"/><path fill="none" d="M0 0h24v24H0V0z"/>
     								</svg>
     							</span>
               </span>
              </div>
              <div class="col-auto">
                <span class="badge badge-light pl-0 mr-2" title="{{ text_views }} {{ article.viewed }}">
                  <span class="si si-rem">
     								<svg fill="#aaa" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
     									<path fill="none" d="M0 0h24v24H0V0z"/><path d="M12 6.5c3.79 0 7.17 2.13 8.82 5.5-1.65 3.37-5.02 5.5-8.82 5.5S4.83 15.37 3.18 12C4.83 8.63 8.21 6.5 12 6.5m0-2C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zm0 5c1.38 0 2.5 1.12 2.5 2.5s-1.12 2.5-2.5 2.5-2.5-1.12-2.5-2.5 1.12-2.5 2.5-2.5m0-2c-2.48 0-4.5 2.02-4.5 4.5s2.02 4.5 4.5 4.5 4.5-2.02 4.5-4.5-2.02-4.5-4.5-4.5z"/>
     								</svg>
     							</span>
                   <span class="text-muted">{{ article.viewed }}</span>
               </span>
              </div>
              <div class="col text-right">
                <small class="text-muted">{{ article.date_added }}</small>
              </div>
           </div>
          </div>
       </div>
     </div>
     {% endfor %}
  </div>
</div>
{% endif %}
