<div id="xds-news-carousel-{{ module }}" class="mb-3 news-carousel overflow-hidden">

  <div class="row mb-1">
    <div class="col">
      <div class="h5 mb-0 ml-2">{{ heading_title }}</div>
    </div>
    <div class="col-auto">
      <div class="mr-2">
        <div class="button-prev si d-inline-block">
          <svg class="d-block" fill="#aaa" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"></path>
          </svg>
        </div>
        <div class="button-next si d-inline-block ">
          <svg class="d-block" fill="#aaa" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"></path>
          </svg>
        </div>
      </div>
    </div>
  </div>


  <div class="owl-carousel">
    {% for article in articles %}

     <div class="card m-2">
       <div class="position-relative">
        <a href="{{ article.href }}">
          <div class="position-absolute lazy-spinner"><div class="spinner-border"></div></div>
          <picture>
            {% if article.thumb2x %}
            <source class="owl-lazy" data-srcset="{{ article.thumb }} 1x, {{ article.thumb2x }} 2x, {{ article.thumb3x }} 3x, {{ article.thumb4x }} 4x" srcset="{{ article.thumb_holder }}">
            {% endif %}
            <img src="{{ article.thumb_holder }}" data-src="{{ article.thumb }}" alt="{{ article.name }}" title="{{ article.name }}" class="card-img-top owl-lazy">
          </picture>
        </a>
        </div>
        <div class="card-body pb-0">
          <div class="h6 card-title font-weight-normal {% if  review_status %}mb-2{% else %}mb-0{% endif %}"><a href="{{ article.href }}">{{ article.name }}</a></div>

          {% if review_status %}
          <p class="rating card-text">
            {% for i in 1..5 %}
            {% if article.rating < i %}
            <span class="si si-rem si-rem-star">
             <svg fill="#ddd" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
               <path d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z"/>
             </svg>
           </span>
           {% else %}
           <span class="si si-rem si-rem-star">
             <svg fill="#ffc107" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
             </svg>
           </span>
            {% endif %}
            {% endfor %}
          </p>
          {% endif %}
        </div>
        <div class="card-footer bg-white border-0">
          <div class="row no-gutters">
            <div class="col-auto">
              <span class="badge badge-light pl-0 mr-2" title="{{ article.description }}" onclick="location.href = ('{{ article.href }}');" style="cursor:pointer">
                <span class="si si-rem">
   								<svg fill="#aaa" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
   									<path d="M3 18h12v-2H3v2zM3 6v2h18V6H3zm0 7h18v-2H3v2z"/><path fill="none" d="M0 0h24v24H0V0z"/>
   								</svg>
   							</span>
             </span>
            </div>
            <div class="col-auto">
              <span class="badge badge-light pl-0 mr-2" title="{{ text_views }} {{ article.viewed }}">
                <span class="si si-rem">
   								<svg fill="#aaa" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
   									<path fill="none" d="M0 0h24v24H0V0z"/><path d="M12 6.5c3.79 0 7.17 2.13 8.82 5.5-1.65 3.37-5.02 5.5-8.82 5.5S4.83 15.37 3.18 12C4.83 8.63 8.21 6.5 12 6.5m0-2C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zm0 5c1.38 0 2.5 1.12 2.5 2.5s-1.12 2.5-2.5 2.5-2.5-1.12-2.5-2.5 1.12-2.5 2.5-2.5m0-2c-2.48 0-4.5 2.02-4.5 4.5s2.02 4.5 4.5 4.5 4.5-2.02 4.5-4.5-2.02-4.5-4.5-4.5z"/>
   								</svg>
   							</span>
                 <span class="text-muted">{{ article.viewed }}</span>
             </span>
            </div>
            <div class="col text-right">
              <small class="text-muted">{{ article.date_added }}</small>
            </div>
         </div>
        </div>
     </div>

     {% endfor %}
  </div>
  {% if pagination %}
	<div class="text-center text-sm-left px-3 py-2">
		<div class="owl-pagination"></div>
	</div>
  {% endif %}
</div>

<script>
	$(function () {

		var owl_news_{{ module }} = $('#xds-news-carousel-{{ module }} .owl-carousel');

		owl_news_{{ module }}.owlCarousel({
	    loop: false,
	    margin: 0,
      lazyLoad: true,
			responsive:{
	      0:		{items: {{ breakpoints[380] }}},
				380:	{items: {{ breakpoints[576] }}},
				576:	{items: {{ breakpoints[768] }}},
				768:	{items: {{ breakpoints[992] }}},
	      992:	{items: {{ breakpoints[1200] }}},
	      1200:	{items: {{ breakpoints[1201] }}}
	    },
			nav: false,
      {% if pagination %}
			dots: true,
			dotsContainer: '#xds-news-carousel-{{ module }} .owl-pagination',
      {% else %}
      dots: false,
      {% endif %}
			{% if autoplay %}
			autoplay: true,
			autoplayTimeout: {{ autoplay_speed }},
			autoplayHoverPause: true,
			{% endif %}
		});

    owl_news_{{ module }}.on('loaded.owl.lazy',function(e){
      e.element.parent().parent().find('.lazy-spinner').remove();
    });

		$('#xds-news-carousel-{{ module }} .button-prev').click(function() { owl_news_{{ module }}.trigger('prev.owl.carousel'); });
		$('#xds-news-carousel-{{ module }} .button-next').click(function() { owl_news_{{ module }}.trigger('next.owl.carousel'); });

	});
</script>
