{% if heading_title %}<div class="h5 mb-3">{{ heading_title }}</div>{% endif %}
<div id="category-wall" class="category-wall row form-row mb-3">
  {% for category in categories %}
  <div class="col-6 col-sm-4 col-lg-3 xl-5-cols mb-3">
    <div class="h-100 position-relative card card-body p-3 overflow-hidden {% if category.active %}border-primary{% endif %}">
      <a class="text-decoration-none" {% if category.children %}data-toggle="collapse" href="#subcategory-wall-{{ category.category_id }}"{% else %}href="{{ category.href }}"{% endif %}>
        <img src="{{ category.thumb }}" alt="" {% if category.thumb2x %}srcset="{{ category.thumb }} 1x, {{ category.thumb2x }} 2x, {{ category.thumb3x }} 3x, {{ category.thumb4x }} 4x"{% endif %} class="img-fluid d-block mx-auto">
        <span class="h6 d-block text-center mb-0 mt-3">{{ category.name }}</span>
      </a>
      {% if category.children %}
      <div class="subcategory-list collapse position-absolute w-100" id="subcategory-wall-{{ category.category_id }}" data-parent="#category-wall">
        <div class="card card-body bg-light border-left-0 border-right-0 border-bottom-0 pb-2 pt-2 rounded-0 {% if category.active %}border-primary{% endif %}">
          <div class="list-unstyled">
            {% for child in category.children %}
            <li class="mt-1 d-block text-truncate"><a href="{{ child.href }}">{{ child.name }}</a></li>
            {% endfor %}
            <li><hr class="my-2"></li>
            <li class="d-block text-truncate font-weight-bold"><a class="text-decoration-none" href="{{ category.href }}">Смотреть все &rarr;</a></li>
          </div>
  				<a class="subcategory-close position-absolute p-1 d-block" data-toggle="collapse" href="#subcategory-wall-{{ category.category_id }}">
  					<svg fill="#aaa" class="d-block" height="18" width="18" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
  						<path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path>
  					</svg>
  				</a>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
