<div id="xds-recent-reviews-{{ module }}" class="mb-3 reviews-carousel overflow-hidden">
  <div class="row mb-1">
    <div class="col">
      <div class="h5 mb-0 ml-2">{{ heading_title }}</div>
    </div>
    <div class="col-auto">
      <div class="mr-2">
        <div class="button-prev si d-inline-block">
          <svg class="d-block" fill="#aaa" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"></path>
          </svg>
        </div>
        <div class="button-next si d-inline-block ">
          <svg class="d-block" fill="#aaa" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"></path>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <div class="owl-carousel">
    {% for review in reviews %}
    <div class="card m-2">
      <div class="card-body p-0">
        <div class="row form-row align-items-center">
          <div class="col-5 col-md-4">
            <div class="py-2 pl-2 pl-sm-3 pr-0 pr-sm-2">
              <div class="image mb-1 position-relative">
                <a href="{{ review.product_href }}">
                  <div class="position-absolute lazy-spinner"><div class="spinner-border"></div></div>
                  <picture>
      							{% if review.product_image2x %}
      							<source class="owl-lazy" data-srcset="{{ review.product_image }} 1x, {{ review.product_image2x }} 2x, {{ review.product_image3x }} 3x, {{ review.product_image4x }} 4x" srcset="{{ review.thumb_holder }}">
      							{% endif %}
      							<img src="{{ review.thumb_holder }}" data-src="{{ review.product_image }}" alt="{{ product.name }}" title="{{ product.name }}" class="d-block mx-auto img-fluid w-auto owl-lazy">
      						</picture>
                </a>
              </div>
              <div class="text-center mb-1">
                <div class="d-inline-block">
                  {% for i in 1..5 %}
                  {% if review.rating < i %}
                  <span class="si si-rem si-rem-star">
                    <svg fill="#ddd" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                      <path d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z"/>
                    </svg>
                  </span>
                  {% else %}
                  <span class="si si-rem si-rem-star">
                    <svg fill="#ffc107" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                    </svg>
                  </span>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
              <div class="h6 font-weight-normal text-center">
                <a href="{{ review.product_href }}" >{{ review.product_name }}</a>
              </div>
            </div>
          </div>
          <div class="col">

            <div class="pl-1 pr-3 py-3">
              <div class="row form-row mb-1">
                <div class="col-10">
                  <div class="font-weight-bold">{{ review.author }}</div>
                  <small class="d-block text-muted">{{ review.date_added }}</small>
                </div>
                <div class="col-2">

                  <div class="rating-face mt-1 mr-md-2 text-right">
                    {% if review.rating == 1 %}
                    <span class="si">
                      <svg fill="#dc3545" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.99 2C6.47 2 2 6.47 2 12s4.47 10 9.99 10S22 17.53 22 12 17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm4.18-12.24l-1.06 1.06-1.06-1.06L13 8.82l1.06 1.06L13 10.94 14.06 12l1.06-1.06L16.18 12l1.06-1.06-1.06-1.06 1.06-1.06zM7.82 12l1.06-1.06L9.94 12 11 10.94 9.94 9.88 11 8.82 9.94 7.76 8.88 8.82 7.82 7.76 6.76 8.82l1.06 1.06-1.06 1.06zM12 14c-2.33 0-4.31 1.46-5.11 3.5h10.22c-.8-2.04-2.78-3.5-5.11-3.5z"/>
                      </svg>
                    </span>
                    {% elseif review.rating == 2 %}
                    <span class="si">
                      <svg fill="#ffc107" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="15.5" cy="9.5" r="1.5"/><circle cx="8.5" cy="9.5" r="1.5"/><path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm0-6c-2.33 0-4.32 1.45-5.12 3.5h1.67c.69-1.19 1.97-2 3.45-2s2.75.81 3.45 2h1.67c-.8-2.05-2.79-3.5-5.12-3.5z"/>
                      </svg>
                    </span>
                    {% elseif review.rating == 3 %}
                    <span class="si">
                      <svg fill="#6c757d" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 14h6v1.5H9z"/><circle cx="15.5" cy="9.5" r="1.5"/><circle cx="8.5" cy="9.5" r="1.5"/><path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"/>
                      </svg>
                    </span>
                    {% elseif review.rating == 4 %}
                    <span class="si">
                      <svg fill="#007bff" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="15.5" cy="9.5" r="1.5"/><circle cx="8.5" cy="9.5" r="1.5"/><path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm0-4c-1.48 0-2.75-.81-3.45-2H6.88c.8 2.05 2.79 3.5 5.12 3.5s4.32-1.45 5.12-3.5h-1.67c-.7 1.19-1.97 2-3.45 2z"/>
                      </svg>
                    </span>
                    {% else %}
                    <span class="si">
                      <svg fill="#28a745" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.99 2C6.47 2 2 6.47 2 12s4.47 10 9.99 10S22 17.53 22 12 17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm1-10.06L14.06 11l1.06-1.06L16.18 11l1.06-1.06-2.12-2.12zm-4.12 0L9.94 11 11 9.94 8.88 7.82 6.76 9.94 7.82 11zM12 17.5c2.33 0 4.31-1.46 5.11-3.5H6.89c.8 2.04 2.78 3.5 5.11 3.5z"/>
                      </svg>
                    </span>
                    {% endif %}
                  </div>
                </div>
              </div>
              <hr class="my-2">
              <div class="review-text position-relative font-weight-light">
                {{ review.text }} <a href="{{ review.product_href }}">&rarr;</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% if pagination %}
	<div class="text-center text-sm-left px-3 py-2">
		<div class="owl-pagination"></div>
	</div>
	{% endif %}
</div>
<script>
	$(function () {

		var owl_reviews_{{ module }} = $('#xds-recent-reviews-{{ module }} .owl-carousel');

		owl_reviews_{{ module }}.owlCarousel({
	    loop: false,
	    margin: 0,
      lazyLoad: true,
			responsive:{
	      0:		{items: {{ breakpoints[380] }}},
				380:	{items: {{ breakpoints[576] }}},
				576:	{items: {{ breakpoints[768] }}},
				768:	{items: {{ breakpoints[992] }}},
	      992:	{items: {{ breakpoints[1200] }}},
	      1200:	{items: {{ breakpoints[1201] }}}
	    },
			nav: false,
      {% if pagination %}
			dots: true,
			dotsContainer: '#xds-recent-reviews-{{ module }} .owl-pagination',
      {% else %}
      dots: false,
      {% endif %}
			{% if autoplay %}
			autoplay: true,
			autoplayTimeout: {{ autoplay_speed }},
			autoplayHoverPause: true,
			{% endif %}
		});

    owl_reviews_{{ module }}.on('loaded.owl.lazy',function(e){
      e.element.parent().parent().find('.lazy-spinner').remove();
    });

		$('#xds-recent-reviews-{{ module }} .button-prev').click(function() { owl_reviews_{{ module }}.trigger('prev.owl.carousel'); });
		$('#xds-recent-reviews-{{ module }} .button-next').click(function() { owl_reviews_{{ module }}.trigger('next.owl.carousel'); });

	});
</script>
