{% if details|length > 0 %}
  <h3>{{ title_aftermarket_details_catalog }}</h3>
  <div class="table-grid">
    {% for detail in details %}
      <div class="row row-root bg-light">
        <div class="col-xs-8 col-sm-10">
          <div class="row">
            <div class="col-xs-12 col-sm-6 ">
              <div class="row">
                <div class="col-xs-6">
                  {{ detail.mfrName  }}
                </div>
                <div class="col-xs-6">
                  {{ detail.articleNumber  }}
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              {{ detail.designation  }}
            </div>
          </div>
        </div>
        <div class="col-xs-4 col-sm-2 text-right">
          <a class="btn btn-primary" href="{{ blankURI | replace({'NNN': detail.articleNumber, 'BBB': detail.mfrName}) }}" target="_blank">
            <i class="fa fa-search"></i>
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
{% endif %}