{% if offers|length > 0 %}
  <h3>{{ title_aftermarket_details_offers }}</h3>
  <div class="table-grid">
    {% set i = 1 %}
    {% for offer in offers %}
      <div id="row-root-{{i}}" class="row row-root {{ offer.GoodsID > 0 ? 'bg-success' : 'bg-light' }} ">

        <!-- article / brand | name -->
        {% if column_left or column_right %}{% set class = 'col-sm-4 col-md-5' %}{% else %}{% set class = 'col-sm-4 col-md-5 col-lg-6' %}{% endif %}
        <div class="{{ class }}">
          <div class="row">
            <!-- article / brand -->
            {% if column_left or column_right %}{% set class = 'col-lg-12' %}{% else %}{% set class = 'col-lg-2 col-xs-12' %}{% endif %}
            <div class="{{ class }}">
              <div class="row">
                <div class="col-xs-6">
                  <a href="{{ offer.more }}" target="_blank">
                    {{ offer.code }}
                  </a>
                </div>
                <div class="col-xs-6">{{ offer.brand }}</div>
              </div>
            </div>
            <!-- name -->
            {% if column_left or column_right %}{% set class = 'col-lg-12' %}{% else %}{% set class = 'col-lg-10 col-xs-12' %}{% endif %}
            <div class="{{ class }}">
              {{ offer.name }}
            </div>
          </div>
        </div>

        <!-- cost | qty / delivery / stock | counter / btn -->
        {% if column_left or column_right %}{% set class = 'col-sm-8 col-md-7' %}{% else %}{% set class = 'col-sm-8 col-md-7 col-lg-6' %}{% endif %}
        <div class="{{ class }}">
          <div class="row">

            <!-- qty | delivery + stock -->
            {% if column_left or column_right %}{% set class = 'col-sm-12 col-md-12 col-lg-4' %}{% else %}{% set class = 'col-sm-4 col-md-4 col-lg-4' %}{% endif %}
            <div class="{{ class }}">
              <div class="row">
                <!-- qty -->
                <div class="col-xs-6 col-sm-3">
                  {{ offer.qty*1 }} {{ offer.unitName }}
                </div>
                <!-- delivery + stock -->
                <div class="col-xs-6 col-sm-9">
                  <div class="row">
                    <div class="col-sm-12">
                      {% if offer.dlvrWeb_max > offer.dlvrWeb_min %}
                        {% set dlvrDispley = offer.dlvrWeb_min ~ '-' ~ offer.dlvrWeb_max ~ ' дн' %}
                      {% elseif offer.dlvrWeb_max == offer.dlvrWeb_min and offer.dlvrWeb_min==0 %}
                        {% set dlvrDispley = 'На складе' %}
                      {% elseif offer.dlvrWeb_max == offer.dlvrWeb_min and offer.dlvrWeb_min==1 %}
                        {% set dlvrDispley = 'Сегодня' %}
                      {% elseif offer.dlvrWeb_min==0 %}
                        {% set dlvrDispley = 'на складе' %}
                      {% elseif offer.dlvrWeb_min==1 %}
                        {% set dlvrDispley = 'сегодня' %}
                      {% else %}
                        {% set dlvrDispley = offer.dlvrWeb_min ~ ' дн' %}
                      {% endif %}
                      {{ dlvrDispley }}
                    </div>
                    {% if( offer.logo ) %}
                      <div class="col-sm-12">{{ offer.logo }}</div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>

            <!-- cost -->
            {% if column_left or column_right %}{% set class = 'col-sm-12 col-md-12 col-lg-3' %}{% else %}{% set class = 'col-sm-3 col-md-3 col-lg-3' %}{% endif %}
            <div class="{{ class }}">
              {{ offer.cost_display | nl2br }}
            </div>

            <!-- counter / btn -->
            {% if column_left or column_right %}{% set class = 'col-sm-12 col-md-12 col-lg-5' %}{% else %}{% set class = 'col-sm-5 col-md-5 col-lg-5' %}{% endif %}
            <div class="{{ class }}">
              <div class="row">
                <!-- counter -->
                {% if column_left or column_right %}{% set class = 'col-xs-6 col-sm-8' %}{% else %}{% set class = 'col-xs-6 col-sm-8' %}{% endif %}
                <div class="{{ class }}">
                  <div id="counter_{{i}}" class="input-group btn-block counter">
                    <span class="input-group-btn">
                      <button type="submit" data-toggle="tooltip" title="" class="btn btn-default btn-xs" onclick="TSCounter.minus('#counter_{{i}}',this);"
                              data-original-title="Уменьшить">
                        <i class="fa fa-minus"></i>
                      </button>
                    </span>
                    <input type="text" name="quantity[{{i}}]" class="form-control counter"
                           value="{{ offer.cost_for_qty!=null ? offer.cost_for_qty : 1 }}"
                           data-qty="{{ offer.qty*1 }}"
                           data-step="{{ offer.cost_for_qty!=null ? offer.cost_for_qty : 1 }}"
                           data-rbg="{{ offer.GoodsID }}"
                           data-tzp="{{ offer.tzp }}"
                           data-std="{{ offer.id_rbStock }}"
                           data-pld="{{ offer.id_rbStockStoragePlace }}"
                           data-row-root="{{i}}"
                           size="1"
                    />
                    <span class="input-group-btn">
                      <button type="button" data-toggle="tooltip" title="" class="btn btn-default btn-xs" onclick="TSCounter.plus('#counter_{{i}}',this);"
                              data-original-title="Увеличить">
                        <i class="fa fa-plus"></i>
                      </button>
                    </span>
                  </div>
                </div>
                <!-- btn: add basket -->
                {% if column_left or column_right %}{% set class = 'col-xs-6 col-sm-4' %}{% else %}{% set class = 'col-xs-6 col-sm-4' %}{% endif %}
                <div class="{{ class }} text-right">
                  <button type="button" data-toggle="tooltip" data-original-title="В корзину" title="" class="btn btn-primary basket-add"
                          data-tab-id="{{ basketTabID }}"
                          onclick="TSBasket.add('#counter_{{i}}',this);">
                    <i class="fa fa-shopping-basket"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      {% set i = i + 1 %}
    {% endfor %}
  </div>
{% endif %}