<h2>{{ heading_history_title }}</h2>

<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
    <tr>
      <td class="text-left">{{ column_history_date }}</td>
      <td class="text-left">{{ column_history_status }}</td>
      <td class="text-left">{{ column_history_note }}</td>
    </tr>
    </thead>
    <tbody>
    {% for row in rows %}
      <tr style="background-color:{{ row.color_web }};color:{{ row.color_font_web }}">
        <td class="text-left">{{ row.data | date("d.m.Y H:i:s") }}</td>
        <td class="text-left">{{ row.StateName }}</td>
        <td class="text-left">{{ row.note }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>