{{ header }}
<div id="account-newsletter" class="container">
    {{ breadcrumbs }}
    {{ flash }}

    <div class="row">
        {{ column_left }}

        {% if column_left and column_right %}{% set class = 'col-sm-6' %}
        {% elseif column_left or column_right %}{% set class = 'col-sm-9' %}
        {% else %}{% set class = 'col-sm-12' %}{% endif %}
        <div id="content" class="{{ class }}">
            {{ content_top }}

            <h1>{{ heading_title }}</h1>
            <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
                <fieldset>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <table>
                                {% for n in notices %}
                                    <tr>
                                        <td align="right">{{ n.name }}:&emsp;</td>
                                        <td>
                                            <input type="checkbox" name="notified[]" value="{{ n.id }}" {{ n.isOnInform?'checked':'' }}
                                                   data-toggle="toggle" data-on="ВКЛ" data-off="ВЫКЛ" data-onstyle="success" data-offstyle="danger"
                                            />
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </fieldset>
                <div class="buttons clearfix">
                    <div class="pull-left"><a href="{{ back }}" class="btn btn-default">{{ button_back }}</a></div>
                    <div class="pull-right">
                        <input type="submit" name="btnNotified" value="{{ button_continue }}" class="btn btn-primary" />
                    </div>
                </div>
            </form>

            {{ content_bottom }}
        </div>

        {{ column_right }}
    </div>
</div>
{{ footer }}