{{ header }}
<div id="account-password" class="container">
  {{ breadcrumbs }}
  {{ flash }}

  <div class="row">
    {{ column_left }}

    {% if column_left and column_right %}
      {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
      {% set class = 'col-sm-9' %}
    {% else %}
      {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h1>{{ heading_title }}</h1>
      <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
        <fieldset>
          <legend>{{ legend_login }}</legend>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-login">{{ entry_login }}</label>
            <div class="col-sm-10">
              <input type="text" name="login" value="{{ login }}" placeholder="{{ entry_login }}" id="input-login" class="form-control" />
              {% if error_login %}
                <div class="text-danger">{{ error_login }}</div>
              {% endif %}
            </div>
          </div>
        </fieldset>
        <fieldset>
          <legend>{{ text_password }}</legend>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-oldpass">{{ entry_oldpass }}</label>
            <div class="col-sm-10">
              <input type="password" name="oldpass" value="{{ oldpass }}" placeholder="{{ entry_oldpass }}" id="input-oldpass" class="form-control" />
              {% if error_oldpass %}
                <div class="text-danger">{{ error_oldpass }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-password">{{ entry_password }}</label>
            <div class="col-sm-10">
              <input type="password" name="password" value="{{ password }}" placeholder="{{ entry_password }}" id="input-password" class="form-control" />
              {% if error_password %}
                <div class="text-danger">{{ error_password }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-confirm">{{ entry_confirm }}</label>
            <div class="col-sm-10">
              <input type="password" name="confirm" value="{{ confirm }}" placeholder="{{ entry_confirm }}" id="input-confirm" class="form-control" />
              {% if error_confirm %}
                <div class="text-danger">{{ error_confirm }}</div>
              {% endif %}
            </div>
          </div>
        </fieldset>
        <div class="buttons clearfix">
          <div class="pull-left"><a href="{{ back }}" class="btn btn-default">{{ button_back }}</a></div>
          <div class="pull-right">
            <input type="submit" value="{{ button_continue }}" class="btn btn-primary" />
          </div>
        </div>
      </form>
      {{ content_bottom }}</div>

    {{ column_right }}</div>
</div>
{{ footer }}