{{ header }}
<div id="account-order" class="container">
  {{ breadcrumbs }}
  {{ flash }}

  <div class="row">
    {{ column_left }}

    {% if column_left and column_right %}{% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}{% set class = 'col-sm-9' %}
    {% else %}{% set class = 'col-sm-12' %}{% endif %}
    <div id="content" class="{{ class }}">
      {{ content_top }}


      <h1>{{ heading_title }}</h1>
      <hr>
      {% if orders %}
        <form method="post" enctype="multipart/form-data">
          <div id="orders-filters" class="input-group col-md-6">
            <div class="input-group-btn">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="filter-name">{{ filter_name }}</span>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a data-filter="current">{{ filter_name_current }}</a></li>
                <li><a data-filter="period">{{ filter_name_period }}</a></li>
                <li><a data-filter="number">{{ filter_name_number }}</a></li>
                <li role="separator" class="divider"></li>
                <li><a data-filter="search">{{ filter_name_search }}</a></li>
              </ul>
            </div>
            <input type="hidden" name="filter" class="filter-code" value="current" />
            <div id="orders__current" class="filter" style="display:{{ filter_code=='current'?'block':'none' }}">
              <input type="text" name="current" class="form-control" aria-label="{{ filter_name_current }}" value="{{ filter_holder_current }}" readonly/>
            </div>
            <div id="orders__period" class="filter" style="display:{{ filter_code=='period'?'block':'none' }}">
              <div class="col-xs-6 no-padding">
                <input type="text" name="period[dd1]" class="form-control period-date" aria-label="От" value="{{ period?period.dd1:'' }}">
              </div>
              <div class="col-xs-6 no-padding">
                <input type="text" name="period[dd2]" class="form-control period-date" aria-label="До" value="{{ period?period.dd2:'' }}">
              </div>
            </div>
            <div id="orders__number" class="filter" style="display:{{ filter_code=='number'?'block':'none' }}">
              <input type="text" name="number" class="form-control" aria-label="{{ filter_name_number }}" value="{{ number }}"/>
            </div>
            <div id="orders__search" class="filter" style="display:{{ filter_code=='search'?'block':'none' }}">
              <input type="text" name="search" class="form-control" aria-label="{{ filter_name_search }}" value="{{ search }}"/>
            </div>
            <div class="input-group-btn">
              <button type="submit" name="filter-set" class="btn btn-default">Загрузить</button>
            </div>
          </div>
        </form>
        <br>

        <div class="table-grid">
          {% for order in orders %}
            <div id="row-order-id-{{ order.id }}" class="row row-root" style="background-color:{{ order.bgColor }};color:{{ order.fnColor }};">

              <!-- article / brand | date_order | date_delivery | name -->
              {% if column_left or column_right %}{% set class = 'col-xs-12 col-sm-8' %}{% else %}{% set class = 'col-xs-12 col-sm-6' %}{% endif %}
              <div class="{{ class }}">
                <div class="row">
                  <!--  | doc_number | article / brand | date_order -->
                  {% if column_left or column_right %}{% set class = 'col-lg-4 col-xs-12' %}{% else %}{% set class = 'col-lg-4 col-xs-12' %}{% endif %}
                  <div class="{{ class }}">
                    <div class="row">
                      <div class="col-xs-4 col-lg-12">
                        Заказ № {{ order.order_id }}
                      </div>
                      <div class="col-xs-5 col-lg-12 text-center text-lg-left">
                        {{ order.part }}
                      </div>
                      <div class="col-xs-3 col-lg-12 text-right text-lg-left">
                        {{ order.date_added }}
                      </div>
                    </div>
                  </div>
                  <!-- name -->
                  {% if column_left or column_right %}{% set class = 'col-lg-8 col-xs-12' %}{% else %}{% set class = 'col-lg-8 col-xs-12' %}{% endif %}
                  <div class="{{ class }}">
                    {% if order.href %}
                      <a class="ellipsis" href="{{ order.href }}">{{ order.name }}</a>
                    {% else %}
                      <span class="ellipsis">{{ order.name }}</span>
                    {% endif %}
                    {% if order.last_note %}
                      <br><b>NOTE:</b> <span>{{ order.last_note }}</span>
                    {% endif %}
                  </div>
                </div>
              </div>

              <!-- price_one | counter | price_total | action -->
              {% if column_left or column_right %}{% set class = 'col-xs-12 col-sm-4' %}{% else %}{% set class = 'col-xs-12 col-sm-6' %}{% endif %}
              <div class="{{ class }}">
                <div class="row">
                  <div class="col-xs-3 col-sm-4">
                    <span>{{ order.price }} {{ currency_symbol }}/{{ piece_quantity }}</span>
                  </div>
                  <div class="col-xs-2 col-sm-4">
                    <span>{{ order.qty }} {{ piece_quantity }}</span>
                  </div>
                  <div class="col-xs-3 col-sm-4">
                    <span>{{ order.total }} {{ currency_symbol }}</span>
                  </div>
                  <div class="col-xs-4 col-sm-12">
                  <a class="dropdown-toggle dashed" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <b>{{ order.status }}</b>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-right width-full-ns" style="background-color:{{ order.bgColor }};color:{{ order.fnColor }};">
                    {% if 'New'==order.status_code %}
                      <li>
                        <a class="ellipsis" data-toggle="tooltip" title="{{ order_towork }}" onClick="TSOrders.towork({{ order.id }})">
                          <i class="fa fa-file-word-o"></i> {{ order_towork }}
                        </a>
                      </li>
                    {% endif %}
                    <li>
                      <a class="ellipsis" data-toggle="tooltip" title="{{ order_delivery }}" onClick="TSOrders.delivery({{ order.id }})">
                        <i class="fa fa-drivers-license-o"></i> {{ order_delivery }}
                      </a>
                    </li>
                    {% if 'WaitingToBeSent'!=order.status_code and 'ReadyToIssue'!=order.status_code and 'RequestToSupplier'!=order.status_code %}
                      <li>
                        <a class="ellipsis" data-toggle="tooltip" title="{{ order_withdraw }}" onClick="TSOrders.withdraw({{ order.id }})">
                          <i class="fa fa-calendar-times-o"></i> {{ order_withdraw }}
                        </a>
                      </li>
                    {% endif %}
                    <li>
                      <a class="ellipsis" data-toggle="tooltip" title="{{ order_history }}" onClick="TSOrders.history({{ order.id }},this)">
                        <i class="fa fa-history"></i> {{ order_history }}
                      </a>
                    </li>
                    {# <li><a href="{{ order.view }}" data-toggle="tooltip" title="{{ button_view }}"><i class="fa fa-eye"></i> {{ button_view }}</a></li>  #}
                  </ul>
                </div>
                </div>
              </div>

            </div>
          {% endfor %}
        </div>

        <div class="row">
          <div class="col-sm-6 text-left">{{ pagination }}</div>
          <div class="col-sm-6 text-right">{{ results }}</div>
        </div>
      {% else %}
        <p>{{ text_empty }}</p>
      {% endif %}


      <div class="buttons clearfix">
        <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
      </div>
      {{ content_bottom }}
    </div>
    {{ column_right }}
  </div>
</div>
{{ footer }}
