{{ header }}
<div id="account-order" class="container">
  {{ breadcrumbs }}
  {{ flash }}

  <div class="row">
    {{ column_left }}

    {% if column_left and column_right %}{% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}{% set class = 'col-sm-9' %}
    {% else %}{% set class = 'col-sm-12' %}{% endif %}
    <div id="content" class="{{ class }}">
      {{ content_top }}


      <h1>{{ heading_title }}</h1>
      <hr>
      {% if orders %}
        <form method="post" enctype="multipart/form-data">
          <div id="orders-filters" class="input-group col-md-6">
            <div class="input-group-btn">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="filter-name">{{ filter_name }}</span>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a data-filter="current">{{ filter_name_current }}</a></li>
                <li><a data-filter="period">{{ filter_name_period }}</a></li>
                <li><a data-filter="number">{{ filter_name_number }}</a></li>
                <li role="separator" class="divider"></li>
                <li><a data-filter="search">{{ filter_name_search }}</a></li>
              </ul>
            </div>
            <input type="hidden" name="filter" class="filter-code" value="current" />
            <div id="orders__current" class="filter" style="display:{{ filter_code=='current'?'block':'none' }}">
              <input type="text" name="current" class="form-control" aria-label="{{ filter_name_current }}" value="{{ filter_holder_current }}" readonly/>
            </div>
            <div id="orders__period" class="filter" style="display:{{ filter_code=='period'?'block':'none' }}">
              <div class="col-xs-6 no-padding">
                <input type="text" name="period[dd1]" class="form-control period-date" aria-label="От" value="{{ period?period.dd1:'' }}">
              </div>
              <div class="col-xs-6 no-padding">
                <input type="text" name="period[dd2]" class="form-control period-date" aria-label="До" value="{{ period?period.dd2:'' }}">
              </div>
            </div>
            <div id="orders__number" class="filter" style="display:{{ filter_code=='number'?'block':'none' }}">
              <input type="text" name="number" class="form-control" aria-label="{{ filter_name_number }}" value="{{ number }}"/>
            </div>
            <div id="orders__search" class="filter" style="display:{{ filter_code=='search'?'block':'none' }}">
              <input type="text" name="search" class="form-control" aria-label="{{ filter_name_search }}" value="{{ search }}"/>
            </div>
            <div class="input-group-btn">
              <button type="submit" name="filter-set" class="btn btn-default">Загрузить</button>
            </div>
          </div>
        </form>
        <br>

        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead>
            <tr>
              <td class="text-right">{{ column_order_id }}</td>
              <td class="text-left">{{ column_parts }}</td>
              <td class="text-right">{{ column_qty }}</td>
              <td class="text-left">{{ column_status }}</td>
              <td class="text-right">{{ column_total }}</td>
              <td class="text-left">{{ column_date_added }}</td>
              <td class="text-left">{{ column_last_note }}</td>
              <td></td>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
              <tr style="background-color:{{ order.bgColor }};color:{{ order.fnColor }};">
                <td class="text-right">{{ order.order_id }}</td>
                <td class="text-left">{{ order.part }}</td>
                <td class="text-right">{{ order.qty }}</td>
                <td class="text-left">{{ order.status }}</td>
                <td class="text-right">{{ order.total }}</td>
                <td class="text-left">{{ order.date_added }}</td>
                <td class="text-left">{{ order.last_note }}</td>
                <td class="text-right" style="width:0">
                  <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group" role="group">
                      {% if 'New'==order.status_code %}
                        <a data-toggle="tooltip" title="{{ order_towork }}" class="btn-group btn btn-info" onClick="TSOrders.towork({{ order.id }})"><i class="fa fa-file-word-o"></i></a>
                      {% endif %}
                      <a data-toggle="tooltip" title="{{ order_delivery }}" class="btn-group btn btn-info" onClick="TSOrders.delivery({{ order.id }})"><i class="fa fa-drivers-license-o"></i></a>
                      {% if 'WaitingToBeSent'!=order.status_code and 'ReadyToIssue'!=order.status_code and 'RequestToSupplier'!=order.status_code %}
                        <a data-toggle="tooltip" title="{{ order_withdraw }}" class="btn-group btn btn-info" onClick="TSOrders.withdraw({{ order.id }})"><i class="fa fa-calendar-times-o"></i></a>
                      {% endif %}
                      <a data-toggle="tooltip" title="{{ order_history }}" class="btn-group btn btn-info" onClick="TSOrders.history({{ order.id }},this)"><i class="fa fa-history"></i></a>
                      <a href="{{ order.view }}" data-toggle="tooltip" title="{{ button_view }}" class="btn-group btn btn-info"><i class="fa fa-eye"></i></a>
                    </div>
                  </div>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col-sm-6 text-left">{{ pagination }}</div>
          <div class="col-sm-6 text-right">{{ results }}</div>
        </div>
      {% else %}
        <p>{{ text_empty }}</p>
      {% endif %}


      <div class="buttons clearfix">
        <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
      </div>
      {{ content_bottom }}
    </div>
    {{ column_right }}
  </div>
</div>
{{ footer }}
