{{ header }}
<div id="blog-latest" class="container mt-3">
  <div class="row">
		{% if column_left or menu_open %}
		<div class="col-12 col-sm col-lg-3 order-lg-1 col-xl-mw260">
			{% if menu_open %}
			<div class="menu-holder d-none d-lg-block mb-3"></div><script>function menu_open_holder(){$(".menu-holder").height($(".category-menu-list").outerHeight()-$(".menu-holder").offset().top+$(".category-menu-list").offset().top)}</script>
			{% endif %}
			{{ column_left }}
		</div>
		{% endif %}
		{% if column_right %}
		<div class="col-12 col-sm col-lg-3 order-lg-3 col-xl-mw260">
			{{ column_right }}
		</div>
		{% endif %}
    <div id="content" class="blog-articles-list col-12 col-lg order-lg-2" itemscope itemtype="http://schema.org/NewsArticle">
			{{ content_top }}
      <nav aria-label="breadcrumb">
				<ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
					{% set i = 0 %}
					{% for breadcrumb in breadcrumbs %}
					{% set i = i + 1 %}
					{% if i == 1 %}
					<li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
						<a href="{{ breadcrumb.href }}"  itemprop="item">
              <meta itemprop="name" content="{{ g_text_home }}" />
							<span class="si si-18 d-inline-block">
								<svg height="18" fill="#333" viewBox="0 0 24 24" width="18" xmlns="http://www.w3.org/2000/svg">
									<path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"/>
								</svg>
							</span>
            </a>
            <meta itemprop="position" content="{{ i }}" />
					</li>
					{% elseif breadcrumbs|length != i %}
					<li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="{{ breadcrumb.href }}" itemprop="item">
              <span itemprop="name">{{ breadcrumb.text }}</span>
            </a>
            <meta itemprop="position" content="{{ i }}" />

          </li>
					{% else %}
					<li class="breadcrumb-item active">
            <span>{{ breadcrumb.text }}</span>
          </li>
					{% endif %}
					{% endfor %}
				</ol>
			</nav>

      <meta itemprop="author" content="{{ author }}" >
      <span itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
        <meta itemprop="name" content="{{ publisher }}" >
        <meta itemprop="address" content="{{ address }}" >
        <meta itemprop="telephone" content="{{ telephone }}" >
        <span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
          <meta itemprop="image" content="{{ image }}">
          <link itemprop="url" href="{{ image }}">
          <meta itemprop="width" content="300">
          <meta itemprop="height" content="150">
        </span>
      </span>

      <meta itemprop="image" content="{{ image }}" >
      <meta itemprop="datePublished" content="{{ date_added }}" >
      <meta itemprop="dateModified" content="{{ date_modified }}" >
      <meta itemprop="mainEntityOfPage" content="{{ mainEntityOfPage }}" >

      <span itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
        <meta itemprop='reviewCount' content='{{ microdata_reviews_count }}' />
        <meta itemprop='worstRating' content='1' />
        <meta itemprop='bestRating' content='5' />
        <meta itemprop='ratingValue' content='{{ rating }}' />
      </span>


      <h1 class="h2 mb-4" itemprop="headline">{{ heading_title }}</h1>
      <div class="mb-3">
        <div class="row">
          <div class="col">
            <div class="mt-1 mb-2">
              <script src="//yastatic.net/share2/share.js" async="async"></script>
              <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,gplus,twitter,viber,whatsapp,telegram" data-size="s"></div>
            </div>
          </div>
          {% if review_status %}
          <div class="col-auto">
            <div class="row no-gutters">
              <div class="col-auto">
              {% if rating %}
              {% endif %}
              {% for i in 1..5 %}
              {% if rating < i %}
              <span class="si d-block float-left">
                <svg fill="#ddd" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                  <path d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z"/>
                </svg>
              </span>
              {% else %}
              <span class="si d-block float-left">
                <svg fill="#ffc107" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                   <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                </svg>
              </span>
              {% endif %}
              {% endfor %}
              </div>

            </div>
          </div>
          {% endif %}
        </div>
      </div>

      <div class="" id="description" itemprop="articleBody">{{ description }}</div>

		  {% if download_status %}
			<div class="mb-4">
			{% if downloads %}
			{% for download in downloads %}
			<a class="btn btn-light mr-2 pl-2" href="{{ download.href }}" title="{{ download.name }}">
        <span class="si si-rem mr-1">
					<svg fill="#aaa" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
						<path d="M16.5 6v11.5c0 2.21-1.79 4-4 4s-4-1.79-4-4V5c0-1.38 1.12-2.5 2.5-2.5s2.5 1.12 2.5 2.5v10.5c0 .55-.45 1-1 1s-1-.45-1-1V6H10v9.5c0 1.38 1.12 2.5 2.5 2.5s2.5-1.12 2.5-2.5V5c0-2.21-1.79-4-4-4S7 2.79 7 5v12.5c0 3.04 2.46 5.5 5.5 5.5s5.5-2.46 5.5-5.5V6h-1.5z"/>
					</svg>
				</span>

        {{ download.name }} <small class="text-muted">({{ download.size }})</small></a>
			{% endfor %}
			{% endif %}
			</div>
		  {% endif %}

      {% if products %}
      <div class="related-products">
        <div id="related-products" class="position-relative overflow-hidden mb-4">
          <div class="row mb-1">
            <div class="col">
              <div class="h5 mb-0 ml-2">{{ text_related }}</div>
            </div>
            <div class="col-auto">
              <div class=" mr-2">
                <div class="button-prev d-inline-block">
                  <svg class="d-block" fill="#aaa" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"></path>
                  </svg>
                </div>
                <div class="button-next d-inline-block ">
                  <svg class="d-block" fill="#aaa" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"></path>
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <div class="owl-carousel product-items">
            {% for product in products %}
            <div class="item">
              <div class="card box-products m-2">
                <div class="card-body p-3">
                  <div class="image position-relative">
                    <a href="{{ product.href }}">
                      <div class="position-absolute lazy-spinner"><div class="spinner-border"></div></div>
                      <picture>
                        {% if product.thumb2x %}
                        <source class="owl-lazy" data-srcset="{{ product.thumb }} 1x, {{ product.thumb2x }} 2x, {{ product.thumb3x }} 3x, {{ product.thumb4x }} 4x" srcset="{{ product.thumb_holder }}">
                        {% endif %}
                        <img src="{{ product.thumb_holder }}" data-src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-fluid d-block mx-auto w-auto owl-lazy">
                      </picture>
                    </a>
                    {% if product.stickers %}
                    <div class="stickers position-absolute">
                      {% for sticker in product.stickers %}
                      <div><span class="{{ sticker.class }}">{{ sticker.text }}</span></div>
                      {% endfor %}
                    </div>
                    {% endif %}
                  </div>
                </div>
                <div class="card-footer px-2 px-md-3 pb-2 pb-md-3 pt-0 bg-white border-0">
                  <div class="h6 card-title"><a href="{{ product.href }}">{{ product.name }}</a></div>
                  {% if product.price %}
                  <div class="price">
                    {% if not product.special %}
                    <div class="h6 mb-1">{{ product.price }}</div>
                    {% else %}
                    <div class="h6 mb-1">
                      <s class="d-inline-block text-danger font-weight-light">{{ product.price }}</s>
                      <span class="d-inline-block">{{ product.special }}</span>
                    </div>
                    {% endif %}
                    {% if product.tax %}
                    <small class="font-weight-light text-muted d-block">{{ text_tax }} {{ product.tax }}</small>
                    {% endif %}
                  </div>
                  {% endif %}
                  {% if related_product_buttons %}
                  <div class="btn-group btn-group-cart-add mt-2">
                    <button type="button" class="btn btn-light btn-cart-add px-1" onclick="cart.add('{{ product.product_id }}');" {% if product.quantity <= 0 and disable_btn_status %}disabled{% endif %}>
                      {% if product.quantity <= 0 and disable_btn_status %}
                      <span class="text-muted px-2">{{ disable_btn_text }}</span>
                      {% else %}
                      <span class="si si-rem">
                        <svg fill="#bbb" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                          <path d="M17.21 9l-4.38-6.56c-.19-.28-.51-.42-.83-.42-.32 0-.64.14-.83.43L6.79 9H2c-.55 0-1 .45-1 1 0 .09.01.18.04.27l2.54 9.27c.23.84 1 1.46 1.92 1.46h13c.92 0 1.69-.62 1.93-1.46l2.54-9.27L23 10c0-.55-.45-1-1-1h-4.79zM9 9l3-4.4L15 9H9zm3 8c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2z"/>
                        </svg>
                      </span>
                      <span class="ml-1 mr-2 d-none d-md-inline text-muted">{{ button_cart }}</span>
                      {% endif %}
                    </button>
                    {% if fastorder_status %}
                    <button type="button" class="btn btn-light btn-cart-add px-1"  title="{{ g_text_fastorder }}" onclick="ft_fastorder('{{ product.product_id }}')" {% if product.quantity <= 0 and disable_btn_status %}disabled{% endif %}>
                      <span class="si si-rem">
                        <svg fill="#bbb" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                          <path d="M15 1H9v2h6V1zm-4 13h2V8h-2v6zm8.03-6.61l1.42-1.42c-.43-.51-.9-.99-1.41-1.41l-1.42 1.42C16.07 4.74 14.12 4 12 4c-4.97 0-9 4.03-9 9s4.02 9 9 9 9-4.03 9-9c0-2.12-.74-4.07-1.97-5.61zM12 20c-3.87 0-7-3.13-7-7s3.13-7 7-7 7 3.13 7 7-3.13 7-7 7z"/>
                        </svg>
                      </span>
                    </button>
                    {% endif %}
                    {% if qview_status %}
                    <button type="button" class="btn btn-light btn-cart-add px-1" title="{{ g_text_qview }}" onclick="ft_qview('{{ product.product_id }}')">
                      <span class="si si-rem">
                        <svg fill="#bbb" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                          <path d="M12,6.5c3.79,0,7.17,2.13,8.82,5.5c-1.65,3.37-5.02,5.5-8.82,5.5S4.83,15.37,3.18,12C4.83,8.63,8.21,6.5,12,6.5 M12,4.5 C7,4.5,2.73,7.61,1,12c1.73,4.39,6,7.5,11,7.5s9.27-3.11,11-7.5C21.27,7.61,17,4.5,12,4.5L12,4.5z"></path><path d="M12,9.5c1.38,0,2.5,1.12,2.5,2.5s-1.12,2.5-2.5,2.5S9.5,13.38,9.5,12S10.62,9.5,12,9.5 M12,7.5c-2.48,0-4.5,2.02-4.5,4.5 s2.02,4.5,4.5,4.5s4.5-2.02,4.5-4.5S14.48,7.5,12,7.5L12,7.5z"></path>
                        </svg>
                      </span>
                    </button>
                    {% endif %}
                    <div class="btn-group position-static">
                      <div class="dropdown-menu" >
                        <a href="#" class="dropdown-item pl-2 pr-3" onclick="wishlist.add('{{ product.product_id }}');return false">
                          <span class="si si-rem mr-1">
                            <svg fill="#bbb" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                              <path d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z"/>
                            </svg>
                          </span>
                          {{ button_wishlist }}
                        </a>
                        <a href="#" class="dropdown-item pl-2 pr-3" onclick="compare.add('{{ product.product_id }}');return false">
                          <span class="si si-rem mr-1">
                            <svg fill="#bbb" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                              <path d="M10 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h5v2h2V1h-2v2zm0 15H5l5-6v6zm9-15h-5v2h5v13l-5-6v9h5c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"/>
                            </svg>
                          </span>
                          {{ button_compare }}
                        </a>
                      </div>
                      <button type="button" class="btn btn-light btn-cart-add px-0" data-toggle="dropdown" data-flip="false">
                        <span class="si si-rem">
                          <svg fill="#bbb" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/>
                          </svg>
                        </span>
                      </button>
                    </div>
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endif %}

  		{% if articles %}
      <div id="related-article-news" class="position-relative overflow-hidden mb-3 news-carousel">

        <div class="row mb-1">
          <div class="col">
            <div class="h5 mb-0 ml-2">{{ text_related }}</div>
          </div>
          <div class="col-auto">
            <div class="mr-2">
              <div class="button-prev si d-inline-block">
                <svg class="d-block" fill="#aaa" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"></path>
                </svg>
              </div>
              <div class="button-next si d-inline-block ">
                <svg class="d-block" fill="#aaa" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"></path>
                </svg>
              </div>
            </div>
          </div>
        </div>

        <div class="owl-carousel">
          {% for article in articles %}
           <div class="item">
             <div class="card m-2">
                <div class="position-relative">
                  <a href="{{ article.href }}">
                    <div class="position-absolute lazy-spinner"><div class="spinner-border"></div></div>
                    <picture>
                      {% if article.thumb2x %}
                      <source class="owl-lazy" data-srcset="{{ article.thumb }} 1x, {{ article.thumb2x }} 2x, {{ article.thumb3x }} 3x, {{ article.thumb4x }} 4x" srcset="{{ article.thumb_holder }}">
                      {% endif %}
                      <img src="{{ article.thumb_holder }}" data-src="{{ article.thumb }}" alt="{{ article.name }}" title="{{ article.name }}" class="card-img-top owl-lazy">
                    </picture>
                  </a>
                </div>
                <div class="card-body pb-0">
                  <div class="h6 card-title font-weight-normal {% if  review_status %}mb-2{% else %}mb-0{% endif %}"><a href="{{ article.href }}">{{ article.name }}</a></div>

                  {% if review_status %}
                  <p class="rating card-text">
                    {% for i in 1..5 %}
                    {% if article.rating < i %}
                    <span class="si si-rem si-rem-star">
                     <svg fill="#ddd" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                       <path d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z"/>
                     </svg>
                   </span>
                   {% else %}
                   <span class="si si-rem si-rem-star">
                     <svg fill="#ffc107" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                     </svg>
                   </span>
                    {% endif %}
                    {% endfor %}
                  </p>
                  {% endif %}


                </div>
                <div class="card-footer bg-white border-0">
                  <div class="row no-gutters">
                    <div class="col-auto">
                      <span class="badge badge-light pl-0 mr-2" title="{{ article.description }}" onclick="location.href = ('{{ article.href }}');" style="cursor:pointer">
                        <span class="si si-rem">
                          <svg fill="#aaa" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3 18h12v-2H3v2zM3 6v2h18V6H3zm0 7h18v-2H3v2z"/><path fill="none" d="M0 0h24v24H0V0z"/>
                          </svg>
                        </span>
                     </span>
                    </div>
                    <div class="col-auto">
                      <span class="badge badge-light pl-0 mr-2" title="{{ text_views }} {{ article.viewed }}">
                        <span class="si si-rem">
                          <svg fill="#aaa" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path fill="none" d="M0 0h24v24H0V0z"/><path d="M12 6.5c3.79 0 7.17 2.13 8.82 5.5-1.65 3.37-5.02 5.5-8.82 5.5S4.83 15.37 3.18 12C4.83 8.63 8.21 6.5 12 6.5m0-2C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zm0 5c1.38 0 2.5 1.12 2.5 2.5s-1.12 2.5-2.5 2.5-2.5-1.12-2.5-2.5 1.12-2.5 2.5-2.5m0-2c-2.48 0-4.5 2.02-4.5 4.5s2.02 4.5 4.5 4.5 4.5-2.02 4.5-4.5-2.02-4.5-4.5-4.5z"/>
                          </svg>
                        </span>
                         <span class="text-muted">{{ article.viewed }}</span>
                     </span>
                    </div>
                    <div class="col text-right">
                      <small class="text-muted">{{ article.date_added }}</small>
                    </div>
                 </div>
                </div>
             </div>
           </div>
           {% endfor %}
        </div>
        <div class="text-center text-sm-left px-3 py-2">
          <div class="swp-pagination"></div>
        </div>
      </div>
      {% endif %}

		{% if review_status %}
    <div>
      <button type="button" class="btn btn-lg btn-block border btn-light mb-3 text-muted" data-toggle="collapse" data-target="#collapse-review">
        {{ text_write }}
      </button>

      <div class="collapse" id="collapse-review">
        <div class="card mb-3">
          <div class="card-header">
            <h6 class="card-title m-0">
              <span class="si si-rem mr-1">
                <svg fill="#aaa" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path d="M21.99 4c0-1.1-.89-2-1.99-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h14l4 4-.01-18zM18 14H6v-2h12v2zm0-3H6V9h12v2zm0-3H6V6h12v2z"/>
                </svg>
              </span>
              {{ text_write }}
            </h6>
          </div>
          <div class="card-body bg-light">
            <form class="form-horizontal" id="form-review">
              {% if review_guest %}
              <div class="form-group required">
                <input type="text" name="name" value="{{ customer_name }}" id="input-name" class="form-control" placeholder="{{ entry_name }} *" />
              </div>
              <div class="form-group required">
                <textarea name="text" rows="4" id="input-review" class="form-control" placeholder="{{ entry_review }} *"></textarea>
                <div class="help-block d-none">{{ text_note }}</div>
              </div>
              <div class="form-group required">
                <label class="d-inline-block align-middle mb-0 mr-1 control-label">{{ entry_rating }}</label>
                <div class="prod-rat d-inline-block clearfix align-middle">
                  <input id="rat1" type="radio" name="rating" value="1" />
                  <label class="rat-star d-block float-left m-0" for="rat1">
                    <svg fill="#ddd" class="d-block" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>
                  </label>
                  <input id="rat2" type="radio" name="rating" value="2" />
                  <label class="rat-star d-block float-left m-0" for="rat2">
                    <svg fill="#ddd" class="d-block" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>
                  </label>
                  <input id="rat3" type="radio" name="rating" value="3" />
                  <label class="rat-star d-block float-left m-0" for="rat3">
                    <svg fill="#ddd" class="d-block" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>
                  </label>
                  <input id="rat4" type="radio" name="rating" value="4" />
                  <label class="rat-star d-block float-left m-0" for="rat4">
                    <svg fill="#ddd" class="d-block" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>
                  </label>
                  <input id="rat5" type="radio" name="rating" value="5" />
                  <label class="rat-star d-block float-left m-0" for="rat5">
                    <svg fill="#ddd" class="d-block" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>
                  </label>
                </div>
              </div>
              {{ captcha }}
              <div class="">

                  <button type="button" id="button-review" data-loading-text="{{ text_loading }}" class="btn btn-primary pr-4">
                    <span class="si si-rem mr-1">
                      <svg fill="#fff" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z"/>
                      </svg>
                    </span>
                    {{ button_continue }}
                  </button>

              </div>
              {% else %}
              {{ text_login }}
              {% endif %}
            </form>
          </div>
        </div>
      </div>


      <div id="review"></div>
    </div>
    {% endif %}

    </div>
  </div>
  {{ content_bottom }}
</div>

<script>
$('.rat-star').hover(function () {
  $(this).prevAll('.rat-star').addClass('active');
  $(this).addClass('active');
},function () {
  $(this).prevAll('.rat-star').removeClass('active');
  $(this).removeClass('active');
});

$('.rat-star').click(function(){
  $('.rat-star').each(function(){
    $(this).removeClass('checked');
    $(this).prevAll('.rat-star').removeClass('checked');
  });

  $(this).addClass('checked');
  $(this).prevAll('.rat-star').addClass('checked');
});

$('#review').delegate('.pagination a', 'click', function(e) {
    e.preventDefault();

    $('#review').load(this.href);

});

$('#review').load('index.php?route=blog/article/review&article_id={{ article_id }}');

$('#button-review').on('click', function() {
  $.ajax({
    url: 'index.php?route=blog/article/write&article_id={{ article_id }}',
    type: 'post',
    dataType: 'json',
    data: $("#form-review").serialize(),
    beforeSend: function() {
      $('#button-review').button('loading');
      console.log('b+');
    },
    complete: function() {
      $('#button-review').button('reset');
      console.log('c+');
    },
    success: function(json) {
      $('.alert-dismissible').remove();

      console.log('s+');

      if (json['error']) {
        $('#collapse-review').after('<div class="alert alert-danger alert-dismissible"> ' + json['error'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
      }

      if (json['success']) {

        $('#collapse-review').after('<div class="alert alert-success alert-dismissible"> ' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');

        $('input[name=\'name\']').val('');
        $('textarea[name=\'text\']').val('');
        $('input[name=\'rating\']:checked').prop('checked', false);
      }
    }
  });
});

$(document).ready(function() {
  $('#description').find('a > img').each(function(){
    console.log('+');
    $(this).parent().addClass('gallery');
  });
  $('#description').magnificPopup({
    delegate: 'a.gallery',
    type: 'image',
    gallery: {
        enabled: true
    }
  });
});



$(function () {

  var owl_related_products = $('#related-products .owl-carousel');

  owl_related_products.owlCarousel({
    loop: false,
    margin: 0,
    lazyLoad: true,
    responsive:{
      0:		{items: 2},
      480:	{items: 3},
      768:	{items: 4},
      992:	{items: 5}
    },
    nav: false,
    dots: false
  });

  owl_related_products.on('loaded.owl.lazy',function(e){
    e.element.parent().parent().find('.lazy-spinner').remove();
  });

  $('#related-products .button-prev').click(function() { owl_related_products.trigger('prev.owl.carousel'); });
  $('#related-products .button-next').click(function() { owl_related_products.trigger('next.owl.carousel'); });


  var owl_related_news = $('#related-article-news .owl-carousel');

  owl_related_news.owlCarousel({
    loop: false,
    margin: 0,
    lazyLoad: true,
    responsive:{
      0:    {items: 1},
      380:	{items: 2},
      576:	{items: 2},
      768:	{items: 3},
      992:	{items: 4}
    },
    nav: false,
    dots: false
  });

  owl_related_news.on('loaded.owl.lazy',function(e){
    e.element.parent().parent().find('.lazy-spinner').remove();
  });

  $('#related-article-news .button-prev').click(function() { owl_related_news.trigger('prev.owl.carousel'); });
  $('#related-article-news .button-next').click(function() { owl_related_news.trigger('next.owl.carousel'); });

});


</script>
{{ footer }}
