{{ header }}
<div id="blog-latest" class="container mt-3">
  <div class="row">
		{% if column_left or menu_open %}
		<div class="col-12 col-sm col-lg-3 order-lg-1 col-xl-mw260">
			{% if menu_open %}
			<div class="menu-holder d-none d-lg-block mb-3"></div><script>function menu_open_holder(){$(".menu-holder").height($(".category-menu-list").outerHeight()-$(".menu-holder").offset().top+$(".category-menu-list").offset().top)}</script>
			{% endif %}
			{{ column_left }}
		</div>
		{% endif %}
		{% if column_right %}
		<div class="col-12 col-sm col-lg-3 order-lg-3 col-xl-mw260">
			{{ column_right }}
		</div>
		{% endif %}
    <div id="content" class="blog-articles-list col-12 col-lg order-lg-2">
			{{ content_top }}
      <nav aria-label="breadcrumb">
				<ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
					{% set i = 0 %}
					{% for breadcrumb in breadcrumbs %}
					{% set i = i + 1 %}
					{% if i == 1 %}
					<li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
						<a href="{{ breadcrumb.href }}"  itemprop="item">
              <meta itemprop="name" content="{{ g_text_home }}" />
							<span class="si si-18 d-inline-block">
								<svg height="18" fill="#333" viewBox="0 0 24 24" width="18" xmlns="http://www.w3.org/2000/svg">
									<path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"/>
								</svg>
							</span>
            </a>
            <meta itemprop="position" content="{{ i }}" />
					</li>
					{% elseif breadcrumbs|length != i %}
					<li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="{{ breadcrumb.href }}" itemprop="item">
              <span itemprop="name">{{ breadcrumb.text }}</span>
            </a>
            <meta itemprop="position" content="{{ i }}" />

          </li>
					{% else %}
					<li class="breadcrumb-item active">
            <span>{{ breadcrumb.text }}</span>
          </li>
					{% endif %}
					{% endfor %}
				</ol>
			</nav>
			<h1 class="h2 mb-4">{{ heading_title }}</h1>
      <div class="mb-4">
        <hr>
        {% if categories %}
				<h5 class="mb-3">{{ g_blog_subcat_text }}</h5>
        <div class="subcategories-container">
  				<div class="row">
  					{% for category in categories %}
  					<div class="subcategory-layout col-6 col-sm-4 col-lg-3 xl-5-cols">
  						<div class="card subcategory h-100">
                {% if blog_sub_cat_img_status %}
                <div class="card-body p-2">
                  {% if category.image1x %}
                  <a href="{{ category.href }}" aria-label="{{ category.name }}">
                    <img src="{{ category.image1x }}" {% if category.image2x %}srcset="{{ category.image1x }} 1x, {{ category.image2x }} 2x, {{ category.image3x }} 3x, {{ category.image4x }} 4x"{% endif %} alt="{{ product.name }}" class="d-block mx-auto img-fluid" alt="{{ category.name }}" />
                  </a>
                  {% else %}
                  <a href="{{ category.href }}" aria-label="{{ category.name }}">
                    <svg viewBox="0 0 100 100" class="d-block mx-auto img-fluid" width="120" height="120" xmlns="http://www.w3.org/2000/svg">
                      <g style="transform-origin:50px 50px;transform:matrix(0.6, 0, 0, 0.6, 0, 0);">
                        <polygon points="19.31 9.41 19.31 90.59 80.69 90.59 80.69 28.153 61.947 9.41" fill="#f0f0f0" />
                        <polygon points="80.537 28 62 9.463 62 28" fill="#dddddd" pointer-events="all" />
                        <path d="m61.261 53.548l11.103 14.327c0.292 0.377 0.451 0.84 0.451 1.317v14.405h-46.447v-7.84c0-0.452 0.142-0.892 0.406-1.258l7.356-10.196c0.852-1.18 2.56-1.313 3.584-0.279l5.971 6.033 13.91-16.581c0.965-1.149 2.746-1.114 3.666 0.072z" fill="#bbbbbb" />
                        <circle cx="37.028" cy="50" r="7.199" fill="#bbbbbb" />
                      </g>
                    </svg>
                  </a>
                  {% endif %}
                </div>
                {% endif %}
  							<div class="card-footer {% if not sub_cat_img_status %} h-100 {% endif %} py-2 px-3 border-top-0">
  							<a href="{{ category.href }}">{{ category.name }}</a>
  							</div>
  						</div>
  					</div>
  					{% endfor %}
  				</div>
        </div>
				<hr>
				{% endif %}
      </div>
      {% if articles %}
      <div class="mb-3">
				<div class="row no-gutters">

					<div class="col col-sm-auto ml-sm-auto order-2 mt-2 mt-sm-0">
						<div class="form-group input-group input-group-sm mb-0">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text px-2 bg-light" title="{{ text_limit }}">
										<span class="si si-rem">
											<svg fill="#aaa" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
												<path d="M3 5H1v16c0 1.1.9 2 2 2h16v-2H3V5zm18-4H7c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V3c0-1.1-.9-2-2-2zm0 16H7V3h14v14z"/>
											</svg>
										</span>
									</span>
								</div>
								<select id="input-limit" class="form-control custom-select" onchange="location = this.value;" aria-label="{{ text_limit }}">
									{% for limits in limits %}
									{% if limits.value == limit %}
									<option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
									{% else %}
									<option value="{{ limits.href }}">{{ limits.text }}</option>
									{% endif %}
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
					<div class="col-12 col-sm-auto order-1">
						<div class="form-group input-group input-group-sm mb-0">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text px-2 bg-light" title="{{ text_sort }}">
										<span class="si si-rem">
											<svg fill="#aaa" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
												<path d="M3 18h6v-2H3v2zM3 6v2h18V6H3zm0 7h12v-2H3v2z"/>
											</svg>
										</span>
									</span>
								</div>
								<select id="input-sort" class="form-control custom-select" onchange="location = this.value;" aria-label="{{ text_sort }}">
									{% for sorts in sorts %}
									{% if sorts.value == '%s-%s'|format(sort, order) %}
									<option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
									{% else %}
									<option value="{{ sorts.href }}">{{ sorts.text }}</option>
									{% endif %}
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
				</div>
      </div>

      <div class="articles-container mb-3">
      <div class="row">
        {% for article in articles %}

        <div class="articles-layout col-12 col-sm-6 col-md-4 col-lg-4 article-col mt-2 mb-2">
          <div class="card h-100">
            {% if article.thumb %}
             <a href="{{ article.href }}">
                 <img src="{{ article.thumb }}" alt="{{ article.name }}" title="{{ article.name }}" {% if article.thumb2x %}srcset="{{ article.thumb }} 1x, {{ article.thumb2x }} 2x, {{ article.thumb3x }} 3x, {{ article.thumb4x }} 4x"{% endif %} class="card-img-top" >
             </a>
             {% endif %}
             <div class="card-body pb-0">
               <div class="h5 card-title "><a href="{{ article.href }}">{{ article.name }}</a></div>
               <p class="card-text font-weight-light">
                 {{ article.description }}
               </p>
               {% if review_status %}
               <p class="rating card-text">
                 {% for i in 1..5 %}
                 {% if article.rating < i %}
                 <span class="si si-rem si-rem-star">
                  <svg fill="#ddd" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z"/>
                  </svg>
                </span>
                {% else %}
                <span class="si si-rem si-rem-star">
                  <svg fill="#ffc107" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                     <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                  </svg>
                </span>
                 {% endif %}
                 {% endfor %}
               </p>
               {% endif %}
             </div>
             <div class="card-footer bg-white border-0">
               <div class="row no-gutters">
                 <div class="col-auto">
                   <span class="badge badge-light pl-0 mr-2" title="{{ article.description }}" onclick="location.href = ('{{ article.href }}');" style="cursor:pointer">
                     <span class="si si-rem">
        								<svg fill="#aaa" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        									<path d="M3 18h12v-2H3v2zM3 6v2h18V6H3zm0 7h18v-2H3v2z"/><path fill="none" d="M0 0h24v24H0V0z"/>
        								</svg>
        							</span>
                  </span>
                 </div>
                 <div class="col-auto">
                   <span class="badge badge-light pl-0 mr-2" title="{{ text_views }} {{ article.viewed }}">
                     <span class="si si-rem">
        								<svg fill="#aaa" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        									<path fill="none" d="M0 0h24v24H0V0z"/><path d="M12 6.5c3.79 0 7.17 2.13 8.82 5.5-1.65 3.37-5.02 5.5-8.82 5.5S4.83 15.37 3.18 12C4.83 8.63 8.21 6.5 12 6.5m0-2C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zm0 5c1.38 0 2.5 1.12 2.5 2.5s-1.12 2.5-2.5 2.5-2.5-1.12-2.5-2.5 1.12-2.5 2.5-2.5m0-2c-2.48 0-4.5 2.02-4.5 4.5s2.02 4.5 4.5 4.5 4.5-2.02 4.5-4.5-2.02-4.5-4.5-4.5z"/>
        								</svg>
        							</span>
                      <span class="text-muted">{{ article.viewed }}</span>
                  </span>
                 </div>
                 <div class="col text-right">
                   <small class="text-muted">{{ article.date_added }}</small>
                 </div>
              </div>
             </div>
          </div>
        </div>

       {% endfor %}
      </div>
      </div>
      <button type="button" class="btn btn-lg btn-block btn-showmore border btn-light mb-3 d-none text-muted" onclick="showmore()">
				<span class="si loading-icon mr-2">
					<svg class="spinner dark" width="24" height="24" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
						 <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
					</svg>
				</span>
				{{ g_text_showmore }}
			</button>


      <div class="row pr-container">
				<div class="col-12 col-md-auto order-md-1 text-center text-md-left">
					<nav>
						{{ pagination }}
					</nav>
				</div>
			</div>



      {% else %}
			<div>
				<p>{{ text_empty }}</p>
				<div class="buttons">
					<div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
				</div>
			</div>
			{% endif %}
    </div>
  </div>
  {{ content_bottom }}
</div>
<script>
	function show_btn_showmore() {
		if ($('.pagination .active').next('li').length > 0) {
			$('.btn-showmore').removeClass('d-none');
		}
	}

	function showmore() {
		var $next = $('.pagination .active').next('li').find('a');
		    pl_class = $('.articles-container').find('.articles-layout').first().attr('class');

        url = $next.attr('href');
        url = url.replace(/(^\w+:|^)/, '');

		if ($next.length == 0) {
			return;
		}

		$.ajax({
			url: url,
			beforeSend: function() {
				$('.btn-showmore').addClass('loading');
				$('.btn-showmore').attr('disabled','diasbled');
			},
			success: function(data) {

				$('.btn-showmore').removeClass('loading');
				$('.btn-showmore').removeAttr('disabled');

				history.replaceState(null, null, url);

				$data = $(data);

				var $container = $('.articles-layout').parent();

				$products = $data.find('.articles-layout');

				$products.each(function() {
					$(this).removeAttr('class');
					$(this).addClass(pl_class);
				});

				$container.append($products);

				$('.pagination').html($data.find('.pagination'));
				$('.results span').html($data.find('.results span'));

				if ($('.pagination .active').next('li').length == 0) {
					$('.btn-showmore').addClass('d-none');
				}

				$data.filter('script').each(function () {
					if ((this.text || this.textContent || this.innerHTML).indexOf("document.write") >= 0) {
						return;
					}
					$.globalEval(this.text || this.textContent || this.innerHTML || '');
				});

			},
			error: function(xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});

		return false;
	}

	$(function () {
		show_btn_showmore();
	});
</script>
{{ footer }}
