<div class="btn-group">
	<a class="btn btn-sm-ft btn-light pl-1 dropdown-toggle" href="#" title="Помощь" data-toggle="dropdown">
		<span class="si si-rem">
			<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" >
				<path d="M13 12h7v1.5h-7zm0-2.5h7V11h-7zm0 5h7V16h-7zM21 4H3c-1.1 0-2 .9-2 2v13c0 1.1.9 2 2 2h18c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 15h-9V6h9v13z"/>
			</svg>
		</span>
		<span class="d-none d-lg-inline mx-1">{{ text_blog }}</span>
		<span class="si si-tin si-rem si-arrow">
			<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" >
				<path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
			</svg>
		</span>
	</a>
	<div class="dropdown-menu dropdown-menu-right">


		{% for category in categories %}
		<a class="dropdown-item" href="{{ category.href }}">{{ category.name }}</a>
		{% if category.children %}
		{% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
		{% for child in children %}
		<a class="dropdown-item" href="{{ child.href }}">&nbsp;<span class="text-muted">&#8627;</span> {{ child.name }}</a>
		{% endfor %}
		{% endfor %}
		{% endif %}
		{% endfor %}


		<div class="dropdown-divider"></div>
		<a class="dropdown-item see-all" href="{{ blog }}">{{ text_all }} {{ text_blog }}</a>
	</div>
</div>
